@model HRE.Models.InschrijvingModel

@{
    ViewBag.Title = "Subscribe";
    Layout = null;
}
    <link href="@Url.Content("~/Content/subscribe.css")" rel="stylesheet" type="text/css">

    @{Html.BeginForm("Register");}
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Email)
        @Html.ValidationSummary()

        <div class="editor-images">
            <div class="editor-image name"></div><div class="editor-spacer name"></div>
            @if (Model.IsEditAllowed) {
                <div class="editor-image address"></div><div class="editor-spacer address"></div>
                <div class="editor-image email"></div><div class="editor-spacer email"></div>
                <div class="editor-image amount"></div><div class="editor-spacer amount"></div>
                @*<div class="editor-image social"></div><div class="editor-spacer social"></div>*@
                <div class="editor-image speaker"></div><div class="editor-spacer speaker"></div>
            }
        </div>

        @if (Model.IsEditAllowed) {
            <div class="editor-label">Licentie</div>
		    <div class="editor-field">
			    @*<input id="is-ntb-lid" type="checkbox" name="ntb" value="Ntb" @(string.IsNullOrEmpty(Model.LicentieNummer) ? string.Empty : "checked=\"checked\"")> *@
			    @Html.CheckBoxFor(m => m.HasLicentieNummer, new { @id="is-ntb-lid"})
                <label for="is-ntb-lid" title="Heb je een NTB licentie? (of KNZB of KNWU?)"></label>
                <span id="licentie-nummer-span" class="optText">Ja, mijn licentie nummer is @Html.TextBoxFor(m => m.LicentieNummer, new { @id="licentie-nummer", @placeholder="Licentienummer..." }) @*<input id="licentie-nummer" name="LicentieNummer" type="text" tabindex="1" maxlength="12" value="@Model.LicentieNummer" placeholder="Licentienummer...">*@</span>
		    </div>
            <div class="editor-label">@Html.LabelFor(m => m.GeboorteDatum)</div>
            <div class="editor-field">@Html.TextBoxFor(m => m.GeboorteDatum, new { @placeholder = "Geboortedatum", @readonly = false, @class = "datePicker", @tabindex="1", @Value = string.Format("{0:dd/MM/yyyy}", Model.GeboorteDatum)})</div>
            <div class="editor-label">MyLaps chipcode</div>
		    <div class="editor-field">
			    @Html.CheckBoxFor(m => m.HasMyLapsChipNummer)
			    <label for="HasMyLapsChipNummer" title="Heb je een eigen MyLaps chip?"></label>
                <span id="mylaps-chip-span" class="optText">Ja, mijn MyLaps nummer is @Html.TextBoxFor(m => m.MyLapsChipNummer, new { @tabindex="14", @placeholder="MyLaps chipnr..." } )</span>
            </div>
        }
        <div class="editor-label">Voornaam</div>
		<div class="editor-field">
            @*<input name="Voornaam" type="text" tabindex="2" maxlength="20" value="@Model.Voornaam" placeholder="Voornaam">*@
            @Html.TextBoxFor(m => m.Voornaam, new { @tabindex="2", @placeholder="Voornaam..." } )
        </div>
        <div class="editor-label">Tussenvoegsel</div>
		<div class="editor-field">
            @*<input name="Tussen" type="text" tabindex="3" value="@Model.Tussenvoegsel" maxlength="10" size="20" placeholder="Tussenvoegsels">*@
            @Html.TextBoxFor(m => m.Tussenvoegsel, new { @tabindex="3", @size=20, @placeholder="Tussenvoegsels..." } )
        </div>
        <div class="editor-label">Achternaam</div>
		<div class="editor-field"><input name="Achternaam" type="text" tabindex="4" value="@Model.Achternaam" maxlength="50" placeholder="Achternaam"></div>
        <div class="editor-label">Geslacht</div>
		<div class="editor-field">
            <input name="Geslacht" id="V" type="radio" value="V" tabindex="5" @(Model.Geslacht=="V" ? "checked=\"checked\"" : string.Empty)>
            <label for="V" title="Vrouw">V</label>
            <input name="Geslacht" id="M" type="radio" value="M" tabindex="5" @(Model.Geslacht=="M" ? "checked=\"checked\"" : string.Empty)>
            <label for="M" title="Man">M</label>
        </div>

        <div class="editor-label"></div>
		<div class="editor-field"></div>

        @if (Model.IsEditAllowed) {
            <div class="editor-label">Straat</div>
		    <div class="editor-field"><input name="Straat" type="text" value="@Model.Straat" tabindex="6" maxlength="50" size="15" placeholder="Straat">&nbsp;</div>
            <div class="editor-label">Huisnummer</div>
		    <div class="editor-field"><input name="Huisnr" value="@Model.Huisnummer" type="text" tabindex="7" maxlength="8" size="5" placeholder="Huisnr"></div>
            <div class="editor-label">Toevoeging</div>
		    <div class="editor-field"><input name="HuisnummerToevoeging" value="@Model.HuisnummerToevoeging" type="text" tabindex="8" maxlength="5" size="5" placeholder=""></div>
            <div class="editor-label">Postcode</div>
		    <div class="editor-field"><input name="PC" type="text" value="@Model.Postcode" tabindex="9" maxlength="10" size="9" placeholder="1234AB"></div>
            <div class="editor-label">Woonplaats</div>
		    <div class="editor-field"><input name="Plaats" type="text" value="@Model.Woonplaats" tabindex="10" maxlength="25" style="width: 230px;" placeholder="Woonplaats"></div>

            <div class="editor-label"></div>
		    <div class="editor-field"></div>

            <div class="editor-label">E-mail</div>
            <div class="editor-field"><input value="@Model.Email" @(string.IsNullOrEmpty(Model.Email) ? string.Empty : "disabled=\"disabled\"") type="text" tabindex="11" style="width: 300px;" maxlength="100" placeholder="E-mail"></div>
            <div class="editor-label">Telefoon</div>
		    <div class="editor-field"><input name="Telefoon" value="@Model.Telefoon" type="text" tabindex="12" maxlength="15" placeholder="Telefoon"></div>

            <div class="editor-label"></div>
		    <div class="editor-field"></div>
        }
        
        <div class="editor-label">Mee-eten</div>
		<div class="editor-field">
			<input id="food" type="checkbox" name="food" tabindex="15" value="Food">
			<label for="food" title="Interesse om na afloop mee te eten? (vrijblijvende reservering)"></label>
		</div>
		<div class="editor-label">Kamperen</div>
		<div class="editor-field">
			<input id="camp" type="checkbox" name="camp" tabindex="16" value="Camp">
			<label for="camp" title="Interesse om na het avondprogramma te blijven kamperen? (vrijblijvende reservering)"></label>
		</div>
		<div class="editor-label">Parc Fermé</div>
		<div class="editor-field">
			<input id="bike" type="checkbox" name="bike" tabindex="17" value="Bike">
			<label for="bike" title="Interesse op de fiets te komen en deze veilig te kunnen stallen? (vrijblijvende reservering)"></label>
		</div>
        @*<div class="editor-label">Gewenste serie</div>
		<div class="editor-field">
			<input id="recrserie" name="Finale" type="radio" tabindex="18" value="R" />
			<label for="recrserie" title="Recreatief!"></label>
			<input id="topserie" name="Finale" type="radio" value="W" />
			<label for="topserie" title="Wedstrijd.."></label>
		</div>*@

        <div class="editor-label"></div>
		<div class="editor-field"></div>

        @*<div class="editor-label">Early bird friend</div>
        <div class="editor-field"><input value="" type="text" tabindex="19" maxlength="100" style="width: 300px;" placeholder="E-mail van vriend(in) die ook Early Bird verdient..."></div>

        <div class="editor-label">Video fun</div>
        <div class="editor-field"><input value="" type="text" tabindex="20" style="width: 350px;" placeholder="URL van leuke YouTube video die je wil delen..."></div>
       
        <div class="editor-label"></div>
		<div class="editor-field"></div>*@

        @if (Model.IsEditAllowed) {
            <div class="editor-label">Opmerkingen voor de speaker</div>
		    <div class="editor-field"><textarea name="Opmerkingen" cols="45" rows="2" tabindex="21" placeholder="Opmerkingen voor de speaker...">@Model.OpmerkingenTbvSpeaker</textarea></div>
            <div class="editor-label">Opmerkingen aan de organisatie</div>
            <div class="editor-field"><textarea name="Bijzonderheden" cols="45" rows="2" tabindex="22" placeholder="Opmerkingen aan de organisatie...">@Model.Bijzonderheden</textarea></div>
              
            <div class="editor-label"></div>
		    <div class="editor-field"></div>
            <input class="save" name="submit" type="submit" value="" />
        }
    @{Html.EndForm();}

    <script type="text/javascript" lang="javascript">
        $(function () {
            // Nederlands Localization
            $.datepicker.regional['nl'] = {
                renderer: $.ui.datepicker.defaultRenderer,
                monthNames: ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december'],
                monthNamesShort: ['jan', 'feb', 'maa', 'apr', 'mei', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'dec'],
                dayNames: ['zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag'],
                dayNamesShort: ['zon', 'maa', 'din', 'woe', 'don', 'vri', 'zat'],
                dayNamesMin: ['zo', 'ma', 'di', 'wo', 'do', 'vr', 'za'],
                dateFormat: 'dd-mm-yy',
                changeYear: true,
                yearRange: '-100:-15',
                firstDay: 1,
                prevText: '←', prevStatus: '',
                prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
                nextText: '→', nextStatus: '',
                nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
                currentText: 'Vandaag', currentStatus: '',
                todayText: 'Vandaag', todayStatus: '',
                clearText: '-', clearStatus: '',
                closeText: 'Sluiten', closeStatus: '',
                yearStatus: '', monthStatus: '',
                weekText: 'Wk', weekStatus: '',
                dayStatus: 'DD d MM',
                defaultStatus: '',
                isRTL: false
            };

            $.datepicker.setDefaults($.datepicker.regional['nl']);
            $datePicker = $(".datePicker");
            $datePicker.datepicker();
            //$datePicker.datepicker({
            //   beforeShow: function(input, inst) {
            //       inst.dpDiv.css({marginTop: -input.offsetHeight + 'px', marginLeft: input.offsetWidth + 'px'});
            //   }
            //});
            $datePicker.click(function () {
                $('.datePicker').datepicker('setDate', $('#GeboorteDatum').val());
            });

            if ($('#is-ntb-lid').attr('checked')) {
                $("#licentie-nummer-span").show();
            } else {
                $("#licentie-nummer-span").hide();
            }
            $('#is-ntb-lid').change(function () {
                if ($(this).is(":checked")) {
                    $("#licentie-nummer-span").show();
                } else {
                    $("#licentie-nummer-span").hide();
                }
            });

            if ($('#HasMyLapsChipNummer').attr('checked')) {
                $("#mylaps-chip-span").show();
            } else {
                $("#mylaps-chip-span").hide();
            }
            $('#HasMyLapsChipNummer').change(function () {
                if ($(this).is(":checked")) {
                    $("#mylaps-chip-span").show();
                } else {
                    $("#mylaps-chip-span").hide();
                }
            });

            // Disable all editing unless this is users subscription (or user is admin).
            if ('@(Model.IsEditAllowed)'=='True') {  
                $('input,select').attr('disabled',disabled); 
            }
        });
    </script>

    @section Scripts {
        <script type="text/javascript">
            $('.jq-runCode').click(function(){
                var parent = $(this).parent();
                var code = parent.find('code').text();
                if (!code) {
                    code = parent.find('pre').text();
                }
                eval(code);
                $(this).hide();
                return false;
            });
         </script>
    }
