@model HRE.Models.Newsletters.SendPersonalNewsletterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
        <link href="http://www.hetrondjeeilanden.nl/Content/newsletter.css" rel="stylesheet" type="text/css">
		<style TYPE="text/css">

			table {
				width: 800px;
				border: 0px;
				margin: 0px;
				padding: 0px;
				cellpadding: 0;
				cellspacing: 0;
			}
			
			tr.header,
			tr.footer {
				background-color: #2483B3;
                color: #ffffff;
			}
			
			tbody, td, th {
				margin: 0px;
				padding: 10px 30px 10px 30px;
				border: 0px 0px 0px 0px;
                color: #406A80;
                text-align: justify;
			}
			
            .footer td,
            .header th {
				padding: 0px;
            }

            .item-content td {
				padding: 10px 0px 10px 0px;
            }

			img {
				margin: 0px;
				padding: 0px;
				border: 0;
			}
			
			p {
				font-family: Calibri, sans serif; 
				font-size: 14pt;
				text-align: left;
			}
			
			tr.header img {
				margin: 0px;
			}
			
            tr.item-content img	{
				margin: 0px 0px 0px 0px;
            }

			tr.item-header img, 
			tr.item-content p {
				margin: 20px 20px 15px 20px;
			}
			
			.item-header td {
				font-family: accid, Arial, sans serif;
                color: #ffffff;
				border: 0px;
			}
			
			.item-header td.icon {
				text-align: left;
			}

            .unsubscribe-link p {
                text-align: center;
                font-size: small;
            }

			.item-content td {
				text-align: right;
				vertical-align: top;
			}
			
			.item-content td p {
				text-align: left;
			}

            td.icon {
                width: 150px;
            }

            td.spacer {
                width: 20px;
                padding: 0px;
                margin: 0px
            }

            td.header-text {
                width: 600px;
            }

		</style>
	</head>
	<body>
		<table border="0" cellspacing="0" cellpadding="0">
            <thead>
				<tr class="header">
					<th><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/News_Header.png" alt="HRE Niewsbrief"/></th>
				</tr>
			</thead>
            <tbody>
				@if (Model.Newsletter.IsEmail) {
				<tr>
					<td><p>Beste @Model.LogonUser.PrimaryAddress.Firstname, </p></td>
				</tr>
                }
            </tbody>
        </table>
		@foreach(var Item in Model.Newsletter.Items) {
            if (!string.IsNullOrEmpty(Item.IconImagePath)) {
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr class="item-header">
    					<td class="spacer"></td>
                        <td class="icon" style="background-color: #@Item.HeadingHtmlColour;"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/@Item.IconImagePath" alt="@Item.Title" /></td>
    					<td class="spacer"></td>
	    				<td class="header-text" style="background-color: #@Item.HeadingHtmlColour;">
                        <span class="header-title" style="font-size: 45px; color: White; border-width: 30px; font-weight: bolder;">@Item.Title</span><br />
                        <span class="header-sub-title" style="font-size: 20px; color: White;">@Item.SubTitle</span>
                        </td>
			    	</tr>
                </table>
            }
            <table border="0" cellspacing="0" cellpadding="0">
            @if (!string.IsNullOrEmpty(Item.ImagePath)) {
                <tr class="item-content">
					<td width="600px">@Html.Raw(@Item.Text)</td>
					<td><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/@Item.ImagePath" alt="@Item.Title" /></td>
				</tr>
            } else {
                <tr class="item-content">
					<td>@Html.Raw(@Item.Text)</td>
				</tr>
            }
            </table>
        }

        <table border="0" cellspacing="0" cellpadding="0">
            @if (Model.Newsletter.IsEmail && Model.Newsletter.IncludeLoginLink) {
			    <tr class="item-content">
				    <td colspan="4"><a href="http://www.hetrondjeeilanden.nl/Account/@Model.PersonalLoginLink"><img src="http://www.hetrondjeeilanden.nl/Content/img/sign_up.png" alt="Persoonlijke link" />Klik hier voor jouw persoonlijke toegang tot de HRE site</a></td>
			    </tr>
            }
			<tr class="footer">
				<td><a href="http://www.hetrondjeeilanden.nl" target="_other"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/News_Web.png" alt="Online" title="Web"/></a></td>
				<td><a href="mailto:info@hetrondjeeilanden.nl" target="_other"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/News_Email.png" alt="E-mail" title="E-mail"/></td>
				<td><a href="http://www.twitter.com/tRondjeEilanden" target="_other"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/News_Twitter.png" alt="Twitter" title="Facebook"/></td>
				<td><a href="http://www.facebook.com/HetRondjeEilanden" target="_other"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/News_Facebook.png" alt="Facebook" title="Facebook"></td>
			</tr>
            @*if(Model.Newsletter.IsEmail) { *@
				<tr class="unsubscribe-link"><td colspan="4"><p><a href="http://www.hetrondjeeilanden.nl/NewsLetter/Unsubscribe/@Model.UnsubscribeLink" target="_blank">Klik hier om je af te melden voor de nieuwsbrief</a></p></td></tr>
            @*} *@
		</table>
	</body>
</html>