@model HRE.Models.InschrijvingModel
@using HRE.Common;
@using HRE.Dal;

@{
    ViewBag.Title = "Bekijken/wijzigen inschrijving";
    int nrOfEarlyBirds = LogonUserDal.DetermineNumberOfParticipants(true);
    bool isEarlyBird = nrOfEarlyBirds < HreSettings.AantalEarlyBirdStartPlekken;
}

<div @(Model.IsEditAllowed ? "class=edit-allowed" : "")>
    <link href="@Url.Content("~/Content/subscribe.css")" rel="stylesheet" type="text/css">

    @if (Model.IsAdmin) {
        @Html.ActionLink(" ", "Index", null, new { @class="editor-image back", @title="Terug naar overzicht", @alt="Back" })
        <br/><br/>
    }

    @{Html.BeginForm();}
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Email)
        @Html.ValidationSummary()

        @if (Model.IsEditAllowed) {
            <p class="welcome">Welkom @Model.Voornaam!</p>
            <div id="inschrijf-formulier-uitleg">
                @if (Model.IsNew) {
                    <p>@if(isEarlyBird) { <text>Proficiat Early Bird™! Je bent inschrijver numero @(nrOfEarlyBirds+1) en hebt net als de andere @HreSettings.AantalEarlyBirdStartPlekken recht op korting!<br /></text> }
                    Meldt je nu aan via onderstaand formulier. Nog slechts een paar stappen. Het meeste is al vooringevuld...</p>
                } else {
                   <p>Welkom terug! Je kunt hier zelf je inschrijfgegevens nog wijzigen tot enige tijd voor de wedstrijd.</p>
                }
                <p><a id="toon-uitleg">Wat nu?</a></p>
                <ul id="uitleg">
                    <li class="test">Klik hiernaast: </li>
                    <div class="editor-field test">
                        <input id="test-checkbox" type="checkbox" name="test-checkbox" value="test-checkbox">
			            <label for="test-checkbox" title="Klik hier!"></label>
                        <span id="test-checkbox-span" class="optText"><b>Jes, zo moet dat! Klik weer uit...</b></span>
                        <span id="test-checkbox-span-weer-uit" class="optText" style="display: none;"><b>Doe dit hieronder ook...</b></span>
                    </div>
                    <li>Met de buttons geef je aan:
                        <ul>
                            <li>of je NTB lid bent (met 'A' atletenlicentie betaal je geen daglicentie van @HreSettings.KostenDagLicentie.AsAmount())</li>
                            <li>een MyLaps chip hebt (met eigen chip betaal je geen @HreSettings.KostenHuurMyLapsChipGeel.AsAmount() huurchip)</li>
                            <li>mee wilt eten (we polsen dit nu alleen, geheel vrijblijvend)</li>
                            <li>blijft kamperen (ook geheel vrijblijvend)</li>
                            <li>en eventueel op de fiets wilt komen (bij voldoende animo komt er een 'Parc Fermé)</li>
                        </ul>
                    </li>
                    <li>Waar mogelijk zijn gegevens al vooringevuld. Maar corrigeer als er iets gewijzigd is t.o.v. 2012.</li>
                    <li>Maak voor 1 maart het inschrijfgeld over om de &euro;7,50 Early Bird&trade; korting te krijgen!</li>
                    <li>Bij inschrijving ga je akkoord met de <a href="/Inschrijvingen/Reglementen" target="_blank">inschrijfvoorwaarden en algemene regelementen</a>.</li>
                    <li>Werkt iets niet of is iets onduidelijk? Mail naar <a href="mailto:bart@hetrondjeeilanden.nl">info@hetrondjeeilanden.nl</a>.</li>
                    <li>We zien je hier later graag terug! Uitnodiging volgt via de Flessenpost&trade;.</li>
                </ul>
            </div>
        
            <div id="costs">
                <div id="costs-inner" style="display: none;">
                    <table>
                        <tr><td>Deelname</td><td><span id="basic">@Model.InschrijfGeld.AsAmount()</span></td></tr>
                        <tr><td>NTB daglicentie</td><td><span id="license">@Model.KostenDagLicentie.AsAmount()</span></td></tr>
                        <tr><td>MyLaps chip</td><td><span id="chip">@Model.KostenChip.AsAmount()</span></td></tr>
                        <tr><td>Early Bird™<span id="minus" style="text-align: right; font-weight: 900; float: right;">-</span></td><td><span id="reduction">@Model.EarlyBirdKorting.AsAmount()</span></td></tr>
                        <tr class="total"><td>Totaal</td><td><span id="total">@Model.InschrijfGeld.Value.AsAmount()</span></td></tr>
                    </table>
                </div>
            </div>
        }
        
            
        <div class="editor-images">
            @if (Model.IsEditAllowed) {
                <div class="editor-spacer initial"></div>
            }
            <div class="editor-image name"></div><div class="editor-spacer name"></div>
            @if (Model.IsEditAllowed) {
                <div class="editor-image address"></div><div class="editor-spacer address"></div>
                <div class="editor-image email"></div><div class="editor-spacer email"></div>
                <div class="editor-image amount"></div><div class="editor-spacer amount"></div>
                @*<div class="editor-image social"></div><div class="editor-spacer social"></div>*@
                <div class="editor-image speaker"></div><div class="editor-spacer speaker"></div>
            }
        </div>

        
        @if (Model.IsEditAllowed) {
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.RegistrationDate)
            <div class="editor-label">Licentie</div>
	    	<div class="editor-field thin">
		    	@Html.CheckBoxFor(m => m.HasLicentieNummer, new { @tabindex="1"} )
                <label for="HasLicentieNummer" title="Heb je een NTB licentie? (of KNZB of KNWU?)"></label>
                <span id="LicentieNummerSpan" class="optText">@Html.TextBoxFor(m => m.LicentieNummer, new { @placeholder="Licentienummer...", @maxlength="12", @tabindex="2" }) </span>
		    </div>
            <div class="editor-label">@Html.LabelFor(m => m.GeboorteDatum)</div>
            <div class="editor-field thin">@Html.TextBoxFor(m => m.GeboorteDatum, new { @placeholder = "Geboortedatum", @readonly = false, @class = "datePicker", @tabindex="3", @Value = string.Format("{0:dd/MM/yyyy}", Model.GeboorteDatum)})</div>
            <div class="editor-label">MyLaps chipcode</div>
		    <div class="editor-field thin">
			    @Html.CheckBoxFor(m => m.HasMyLapsChipNummer, new { @tabindex="4" })
			    <label for="HasMyLapsChipNummer" title="Heb je een eigen MyLaps chip?"></label>
                <span id="mylaps-chip-span" class="optText">@Html.TextBoxFor(m => m.MyLapsChipNummer, new { @tabindex="5", @placeholder="MyLaps chipnr..." } )</span>
            </div>
        }
        

        <div class="editor-label">Voornaam</div>
		<div class="editor-field thin">
            @Html.TextBoxFor(m => m.Voornaam, new { @tabindex="6", @placeholder="Voornaam..." } )
        </div>
        <div class="editor-label">Tussenvoegsels</div>
		<div class="editor-field">
            @Html.TextBoxFor(m => m.Tussenvoegsel, new { @tabindex="7", @size=20 } )
        </div>
        <div class="editor-label">Achternaam</div>
		<div class="editor-field">
            @Html.TextBoxFor(m => m.Achternaam, new { @tabindex="8", @maxLength=50, @placeholder="Achternaam" } )    
        </div>
        <div class="editor-label">Vrouw/Man?</div>
		<div class="editor-field">
            <input name="Geslacht" id="V" type="radio" value="V" tabindex="9" @(Model.Geslacht=="V" ? "checked=\"checked\"" : string.Empty)>
            <label for="V" title="Vrouw"></label>
            <input name="Geslacht" id="M" type="radio" value="M" tabindex="9" @(Model.Geslacht=="M" ? "checked=\"checked\"" : string.Empty)>
            <label for="M" title="Man"></label>
        </div>

        @if (Model.IsEditAllowed) {
            <div class="editor-label"></div>
		    <div class="editor-field"></div>

            <div class="editor-label">Straat</div>
		    <div class="editor-field">
                @Html.TextBoxFor(m => m.Straat, new { @tabindex="10", @size=15, @maxLenght="50", @placeholder="Straat"} )
            </div>
            <div class="editor-label">Huisnummer</div>
		    <div class="editor-field">
                @Html.TextBoxFor(m => m.Huisnummer, new { @tabindex="11", @size=5, @maxLenght="8", @placeholder="Huisnr"} )
            </div>
            <div class="editor-label">Toevoeging</div>
		    <div class="editor-field">
                @Html.TextBoxFor(m => m.HuisnummerToevoeging, new { @tabindex="12", @size=5, @maxLenght="5"} )
            </div>
            <div class="editor-label">Postcode</div>
		    <div class="editor-field">
                @Html.TextBoxFor(m => m.Postcode, new { @tabindex="13", @size="9", @maxLenght="10", @placeholder="1234AB"} )
            </div>
            <div class="editor-label">Woonplaats</div>
		    <div class="editor-field">
                @Html.TextBoxFor(m => m.Woonplaats, new { @tabindex="14", @size=30, @maxLenght="25", @placeholder="Woonplaats"} )
            </div>

            <div class="editor-label"></div>
		    <div class="editor-field"></div>

            <div class="editor-label">E-mail</div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email, new { @tabindex="15", @size="30", @maxLenght="100", @placeholder="E-mail", @disabled="disabled", @title="niet wijzigbaar" } )
            </div>
            <div class="editor-label">Telefoon</div>
		    <div class="editor-field">
                @Html.TextBoxFor(m => m.Telefoon, new { @tabindex="16", @size=10, @maxLenght="15", @placeholder="Telefoon"} )
            </div>
            <div class="editor-label"></div>
		    <div class="editor-field"></div>
        }
        
        <div class="editor-label">Mee-eten?</div>
		<div class="editor-field">
            @Html.CheckBoxFor(m => m.Food, new { @tabindex="17" })
			<label for="food" title="Interesse om na afloop mee te eten? (vrijblijvende reservering)"></label>
		</div>
		<div class="editor-label">Kamperen?</div>
		<div class="editor-field">
			@Html.CheckBoxFor(m => m.Camp, new { @tabindex="18" })
			<label for="Camp" title="Interesse om na het avondprogramma te blijven kamperen? (vrijblijvende reservering)"></label>
		</div>
		<div class="editor-label">Fiets stallen?</div>
		<div class="editor-field">
			@Html.CheckBoxFor(m => m.Bike, new { @tabindex="19" })
			<label for="Bike" title="Interesse op de fiets te komen en deze veilig te kunnen stallen? (vrijblijvende reservering)"></label>
		</div>
        @*<div class="editor-label">Gewenste serie</div>
		<div class="editor-field">
			<input id="recrserie" name="Finale" type="radio" tabindex="18" value="R" />
			<label for="recrserie" title="Recreatief!"></label>
			<input id="topserie" name="Finale" type="radio" value="W" />
			<label for="topserie" title="Wedstrijd.."></label>
		</div>

        <div class="editor-label"></div>
		<div class="editor-field"></div>

        <div class="editor-label">Early bird friend</div>
        <div class="editor-field"><input value="" type="text" tabindex="19" maxlength="100" style="width: 300px;" placeholder="E-mail van vriend(in) die ook Early Bird verdient..."></div>

        <div class="editor-label">Video fun</div>
        <div class="editor-field"><input value="" type="text" tabindex="20" style="width: 350px;" placeholder="URL van leuke YouTube video die je wil delen..."></div>
        *@
        
        <div class="editor-label"></div>
		<div class="editor-field"></div>

        @if(Model.IsEditAllowed) {
            <div class="editor-label">Heb je er zin in?</div>
            <div class="editor-field">@Html.TextAreaFor(m => m.HebJeErZinIn, new { @cols="50", @rows="2", @tabindex="20", @maxlength="100", @placeholder="Deze tekst wordt getoond op de website..."} )</div>
            
            <div class="editor-label"></div>
            <div class="editor-field"><a id="toon-meer-opmerkingen">Nog meer te vertellen?</a></div>

            <div id="meer-opmerkingen">
                <div class="editor-label">Opmerkingen voor de speaker<br /></div>
		        <div class="editor-field">
                    @Html.TextAreaFor(m => m.OpmerkingenTbvSpeaker, new { @cols="50", @rows="2", @tabindex="21", @maxlength="1024", @placeholder="Voorzie de speaker(s) van wat extra info.."} )
                </div>
                <div class="editor-label">Opmerkingen aan de organisatie</div>
                <div class="editor-field">
                    @Html.TextAreaFor(m => m.Bijzonderheden, new { @cols="50", @rows="2", @tabindex="22", @maxlength="1024", @placeholder="Opmerkingen of vragen aan de organisatie.."} )
                </div>
            </div>
            <div id="save-button-div"><input class="@(Model.IsNew ? "save" : "save-button")" name="submit" type="submit" tabindex="23" value="@(Model.IsNew ? "" : "Opslaan")" /></div>
        } else {
            if (!string.IsNullOrEmpty(Model.HebJeErZinIn)) {
                <div class="editor-label">Heb je er zin in?</div>
                <div class="editor-field">@Model.HebJeErZinIn</div>
            }
        }
    @{Html.EndForm();}

    @if(Model.IsEditAllowed) {
        <script type="text/javascript" language="javascript" src="/Scripts/jquery.jqEasyCharCounter.min.js"></script>
        <script type="text/javascript" lang="javascript">
            function determineAndDisplayCosts() {
                var isEarlyBird = '@Model.IsEarlyBird' == 'True';
                var isNtbWedstrijdLid = $('#HasLicentieNummer').is(":checked") 
                            && ($('#LicentieNummer').val().substring(2,3)=='a' || $('#LicentieNummer').val().substring(2,3)=='A');
                var hasMyLaps = $('#HasMyLapsChipNummer').is(":checked");
                var basicCosts = @HreSettings.HuidigeDeelnameBedrag / 100;
                var licenseCosts = isNtbWedstrijdLid ? 0 : @HreSettings.KostenDagLicentie / 100;
                var chipCosts = hasMyLaps ? 0 : @HreSettings.KostenHuurMyLapsChipGeel / 100;
                var reduction = !isEarlyBird ? 0 : @HreSettings.HoogteEarlyBirdKorting / 100;
                var totalCosts = basicCosts + licenseCosts + chipCosts - reduction;
                $('#basic').html(euroBedrag(basicCosts));
                $('#license').html(euroBedrag(licenseCosts));
                $('#chip').html(euroBedrag(chipCosts));
                $('#reduction').html(euroBedrag(reduction));
                $('#total').html(euroBedrag(totalCosts));
            }

            function euroBedrag(bedragInCenten) {
                result = bedragInCenten.toFixed(2);
                result = result.replace(".",",");
                result = result.replace(",00",",-");
                return "€ " + result;
            }

            $(function() {
                $('#toon-uitleg').click(function () {
                    $('ul#uitleg').slideToggle();
                });


                $('#toon-meer-opmerkingen').click(function () {
                    $('#meer-opmerkingen').slideToggle();
                });

                // Nederlands Localization
                $.datepicker.regional['nl'] = {
                    renderer: $.ui.datepicker.defaultRenderer,
                    monthNames: ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december'],
                    monthNamesShort: ['jan', 'feb', 'maa', 'apr', 'mei', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'dec'],
                    dayNames: ['zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag'],
                    dayNamesShort: ['zon', 'maa', 'din', 'woe', 'don', 'vri', 'zat'],
                    dayNamesMin: ['zo', 'ma', 'di', 'wo', 'do', 'vr', 'za'],
                    dateFormat: 'dd-mm-yy',
                    changeYear: true,
                    yearRange: '-100:-15',
                    firstDay: 1,
                    prevText: '←', prevStatus: '',
                    prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
                    nextText: '→', nextStatus: '',
                    nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
                    currentText: 'Vandaag', currentStatus: '',
                    todayText: 'Vandaag', todayStatus: '',
                    clearText: '-', clearStatus: '',
                    closeText: 'Sluiten', closeStatus: '',
                    yearStatus: '', monthStatus: '',
                    weekText: 'Wk', weekStatus: '',
                    dayStatus: 'DD d MM',
                    defaultStatus: '',
                    isRTL: false
                };

                $.datepicker.setDefaults($.datepicker.regional['nl']);
                $datePicker = $(".datePicker");
                $datePicker.datepicker();
                $datePicker.click(function() {
                    $('.datePicker').datepicker('setDate', $('#GeboorteDatum').val());
                });

                determineAndDisplayCosts();

                $('ul#uitleg').hide();
                
                $('#meer-opmerkingen').hide();

                $('#costs-inner').show();

                $('#LicentieNummer').change(function() {
                    determineAndDisplayCosts();
                });

                if ($('#test-checkbox').attr('checked')) {
                    $("#test-checkbox-span").show();
                    $("#test-checkbox-span-weer-uit").hide();
                } else {
                    $("#test-checkbox-span").hide();
                }

                $('#test-checkbox').change(function() {
                    if ($(this).is(":checked")) {
                        $("#test-checkbox-span").show();
                        $("#test-checkbox-span-weer-uit").hide();
                    } else {
                        $("#test-checkbox-span").hide();
                        $("#test-checkbox-span-weer-uit").show();
                    }
                });

                if ($('#HasLicentieNummer').attr('checked')) {
                    $("#LicentieNummerSpan").show();
                } else {
                    $("#LicentieNummerSpan").hide();
                }
            
                $('#HasLicentieNummer').change(function() {
                    determineAndDisplayCosts();
                    if ($(this).is(":checked")) {
                        $("#LicentieNummerSpan").show();
                    } else {
                        $("#LicentieNummerSpan").hide();
                    }
                });

                if ($('#HasMyLapsChipNummer').attr('checked')) {
                    $("#mylaps-chip-span").show();
                } else {
                    $("#mylaps-chip-span").hide();
                }
                
                $('#HasMyLapsChipNummer').change(function() {
                    determineAndDisplayCosts();
                    if ($(this).is(":checked")) {
                        $("#mylaps-chip-span").show();
                    } else {
                        $("#mylaps-chip-span").hide();
                    }
                });
                
                $('#HebJeErZinIn').jqEasyCounter({
                    'maxChars': 100,
                    'maxCharsWarning': 100,
                    'msgFontSize': '12px',
                    'msgFontColor': '#000',
                    'msgFontFamily': 'Arial',
                    'msgTextAlign': 'right',
                    'msgWarningColor': '#F00',
                    'msgAppendMethod': 'insertAfter'
                });
            });
        </script>
    } else {
        <script type="text/javascript" lang="javascript">
            // Disable all editing unless this is users subscription (or user is admin).
            if ('@(Model.IsEditAllowed)' == 'False') {
                $("input,select").prop('disabled', true);
            }
        </script>
    }

    @section Scripts {
        <script type="text/javascript">
            $('.jq-runCode').click(function() {
                var parent = $(this).parent();
                var code = parent.find('code').text();
                if (!code) {
                    code = parent.find('pre').text();
                }
                eval(code);
                $(this).hide();
                return false;
            });
        </script>
    }
</div>