@model HRE.Models.InschrijvingModel

@using HRE.Common;
@using HRE.Dal;
@using HRE.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = Model.IsRegistered ? "Bekijken/wijzigen inschrijving" : "Inschrijven";
    int nrOfEarlyBirds = LogonUserDal.AantalIngeschrevenEarlyBirds();
    int nrOfEntries = LogonUserDal.AantalIngeschrevenDeelnemers(Model.ExternalEventIdentifier);
    bool isEarlyBird = Model.IsEarlyBird.HasValue && Model.IsEarlyBird.Value;
    int aantalPlekken = SportsEventRepository.AantalStartPlekken;
    int aantalReserve = SportsEventRepository.AantalPlekkenReserveLijst;
    int aantalPlekkenInclusiefReserve = aantalPlekken+aantalReserve;
    bool allePlekkenBezet = nrOfEntries >= aantalPlekken;
    bool allePlekkenBezetÍnclusiefReserve = nrOfEntries >= aantalPlekkenInclusiefReserve;
    DateTime sluitingsDatum = SportsEventRepository.SluitingsDatumAlgemeneInschrijving;
    DateTime openingsDatum = SportsEventRepository.OpeningsdatumAlgemeneInschrijving;
    var huidigeRondje = SportsEventRepository.GetCurrentEvent();
    bool isAchterDeRug = SportsEventRepository.GetCurrentEvent().EventDate<=DateTime.Now;
    var volgendeRondje = SportsEventRepository.GetNextEvent();
    DateTime? datumVolgendeRondje = volgendeRondje!=null ? volgendeRondje.EventDate : null;
    bool inschrijvingGesloten = DateTime.Compare(DateTime.Now, sluitingsDatum)>0;
    bool inschrijvingGeopend = DateTime.Compare(DateTime.Now, openingsDatum)>0;
}

@section Css {
    <link href="@Url.Content("~/Content/subscribe.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/select2/select2.css")" rel="stylesheet" type="text/css" />
    @* <link href="@Url.Content("~/Content/jquery-ui-1.10.4.custom.min.css")" rel="stylesheet" type="text/css" /> *@
}
<div @(Model.IsEditAllowed ? "class=edit-allowed" : "")>

    @if(Model.IsNewUser && !Model.IsAdmin && (allePlekkenBezet || inschrijvingGesloten || !inschrijvingGeopend || isAchterDeRug)) {
        if(inschrijvingGesloten) {
            <p>De inschrijving is gesloten!</p>
            <p>De inschrijving sloot op @sluitingsDatum.ToString("d MMM yyyy hh:mm").</p>
        }
        if(allePlekkenBezet) {
            <p> Alle @aantalPlekken startplekken zijn bezet @(allePlekkenBezet ? "(en de @aantalReserve reserveplekken ook!)" : string.Empty).</p>
        }
        if (!inschrijvingGeopend) {
            <p>De algemene inschrijving <strike>opent op 1 april</strike> heeft nog wat vertraging opgelopen, maar we hopen @openingsDatum.ToString("d MMM yyyy") te kunnen openen.</p>
            <p>Oud deelnemers (van 2012 en 2013) krijgen via e-mail een aanbieding voor een speciale Early Bird kortingsactie! Dit is helaas ook iets uitgelopen, maar any day now...</p>
        }
        if (isAchterDeRug) {
            <p>Het Rondje Eilanden was op @huidigeRondje.EventDate.Value.ToShortDateString()</p>
            if (datumVolgendeRondje.HasValue) {
                <p>Het volgende Rondje is op @datumVolgendeRondje.Value.ToShortDateString() en de inschrijving opent op @volgendeRondje.OpeningsdatumAlgemeneInschrijving.ToShortDateString().</p>
            }
        }
    } else {
        
        if (Model.IsAdmin) {
            @Html.ActionLink(" ", "Index", null, new { @class="editor-image back", @title="Terug naar overzicht", @alt="Back" })
            <br/><br/>
        }
        
        if(Model.IsNewUser && nrOfEntries > aantalPlekken) {
            <p>Let op: De @aantalPlekken geplande startplekken zijn inmiddels al vergeven. De organisatie heeft echter nog wat reserve plekken weten te creeren. Dus je kunt je nog wel net inschrijven. Door de grote animo kunnen we helaas niet garanderen dat er een aandenken voor je is. Daar doen we wel ons best voor!</p>
        }
        
        using (Html.BeginForm("Edit", "Inschrijvingen")) {
            @Html.AntiForgeryToken()

            if (!ViewData.ModelState.IsValid) {
                <div id="errorMessagePopup" style="display:none;" title="Corrigeer het volgende:">@Html.ValidationSummary()</div>
            }
        
            if (Model.IsEditAllowed && Model.ExternalEventIdentifier == SportsEventRepository.CurrentExternalEventIdentifier) {
                <p class="welcome">Welkom@(!string.IsNullOrEmpty(Model.Voornaam) ? " " + @Model.Voornaam : "")!</p>
                <div id="inschrijf-formulier-uitleg">
                    @if (!Model.IsRegistered) {
                        <p>@if(isEarlyBird) { <text>Proficiat Early Bird™! Je bent inschrijver numero @(nrOfEarlyBirds+1) en hebt net als @(SportsEventRepository.AantalEarlyBirdStartPlekken-1) andere Early Birds™ recht op korting!<br /></text> }
                        Meld je aan voor Hét Rondje Eilanden via onderstaand formulier.
                        @if(!Model.IsNewUser) {
                            <text>Nog slechts een paar stappen. Het meeste is al vooringevuld...</text>
                        }
                        </p>
                    } else {
                       <p>Welkom terug! Je kunt hier zelf je inschrijfgegevens nog wijzigen tot enige tijd voor het evenement.</p>
                    }
                    <p><a id="toon-uitleg">Toelichting</a></p>
                    <ul id="uitleg">
                        <li class="test">Klik hiernaast: </li>
                        <div class="editor-field test">
                            <input id="test-checkbox" type="checkbox" name="test-checkbox" value="test-checkbox">
			                <label for="test-checkbox" title="Klik hier!"></label>
                            <span id="test-checkbox-span" class="opt-text"><b>Jes, zo moet dat! Klik weer uit...</b></span>
                            <span id="test-checkbox-span-weer-uit" class="opt-text" style="display: none;"><b>Doe dit hieronder ook...</b></span>
                        </div>
                        <li>Met de buttons geef je aan:
                            <ul>
                                <li>of je NTB lid bent (met 'A' atleten of 'X' aspirantlicentie betaal je geen daglicentie van @SportsEventRepository.KostenNtbDagLicentie.AsAmount())</li>
                                <li>een MyLaps chip hebt (met eigen (gele) chip betaal je geen @SportsEventRepository.KostenHuurMyLapsChipGeel.AsAmount() huurchip)</li>
                                <li>mee wilt eten (&euro; 10 incl. 2 drankjes)</li>
                                <li>wilt blijven kamperen (vrijblijvend, betaling later ter plaatse)</li>
                                <li>er wel of niet voor gaat om ook de finale mee te doen</li>
                                <li>en eventueel op de fiets wilt komen (bij voldoende animo komt er een 'Parc Fermé)</li>
                            </ul>
                        </li>
                        <li>Nieuw in 2014 is dat je het inschijfgeld direct bij inschrijving met iDeal kunt én dient te betalen</li>
                        @if(!Model.IsEarlyBird.HasValue || !Model.IsEarlyBird.Value && DateTime.Compare(DateTime.Now, SportsEventRepository.EindDatumEarlyBirdKorting)<=0) {
                            <li>Was je HRE deelnemer in 2012 en/of 2013? Je krijgt korte tijd voor de algemene inschrijving opent een e-mail om gebruik te maken van speciale Early Bird™ korting...</li>
                        }
                        @if(!Model.IsNewUser) {
                            <li>Enkele gegevens zijn vooringevuld obv 2012/2013. Corrigeer als iets gewijzigd is!</li>
                        }
                        @if(!Model.IsRegistered) {
                            <li>Druk als je alles ingevuld op de knop 'Get me a ticket' onderaan om je aanmelding te versturen.</li>
                        } else {
                            <li>Vergeet niet op de knop opslaan te druk om je wijzigingen definitief te maken, anders worden ze NIET ehm.. opgeslagen :)</li>
                        }
                        <li>Als iets niet klopt krijg je een validatiemelding. Corrigeer de fouten en probeer nogmaals.</li>
                        @if(!Model.IsNewUser) {
                            <li>Schrijf je voor @SportsEventRepository.EindDatumEarlyBirdKorting.ToShortDateString() en betaal direct via iDeal om de @SportsEventRepository.HoogteEarlyBirdKorting.AsAmount() Early Bird&trade; korting te krijgen!</li>
                        }
                        <li>Bij inschrijving ga je akkoord met de <a href="/Inschrijvingen/Reglementen" target="_blank">inschrijfvoorwaarden en algemene regelementen</a>.</li>
                        <li>Werkt iets niet of is iets onduidelijk? Mail naar <a href="mailto:bart@hetrondjeeilanden.nl">info@hetrondjeeilanden.nl</a>.</li>
                        <li>We zien je hier later graag terug! Uitnodiging volgt via de Flessenpost&trade;.</li>
                    </ul>
                </div>
            } else {
                <p>Ben jij zelf deze @(Model.Geslacht=="M" ? "atleet" : "atlete")? Log in om meer gegevens te zien en deze desgewenst te kunnen wijzigen.</p>
            }
        
            if (Model.IsEditAllowed) {
                <div id="costs">
                    <div id="costs-inner" style="display: none;">
                        <table>
                                <tr><td>Deelname</td><td><span id="basic">@Model.BasisKosten.AsAmount()</span></td></tr>
                                <tr><td>NTB daglicentie</td><td><span id="license">@Model.KostenNtbDagLicentie.AsAmount()</span></td></tr>
                                <tr><td>MyLaps chip</td><td><span id="chip">@Model.KostenChip.AsAmount()</span></td></tr>
                                @if (isEarlyBird) {
                                    <tr><td>Early Bird™<span id="minus" style="text-align: right; font-weight: 900; float: right;">-</span></td><td><span id="reduction">@Model.EarlyBirdKorting.AsAmount()</span></td></tr>
                                }
                                <tr><td>Eten</td><td><span id="food">@Model.KostenEten.AsAmount()</span></td></tr>
                            <tr class="total"><td>Totaal</td><td><span id="total">@Model.InschrijfGeld.Value.AsAmount()</span></td></tr>
                        </table>
                    </div>
                </div>
            }
            <div class="editor-images">
                @if (Model.IsEditAllowed) {
                    <div class="editor-spacer initial"></div>
                }
                <div class="editor-image name"></div><div class="editor-spacer name"></div>
                @if (Model.IsEditAllowed) {
                    <div class="editor-image amount"></div><div class="editor-spacer amount"></div>
                    <div class="editor-image address"></div><div class="editor-spacer address"></div>
                    <div class="editor-image email"></div><div class="editor-spacer email"></div>
                    @*<div class="editor-image social"></div><div class="editor-spacer social"></div>*@
                    <div class="editor-image speaker"></div><div class="editor-spacer speaker"></div>
                }
            </div>
        
            <div class="editor-label">Voornaam</div>
		    <div class="editor-field">
                @Html.TextBoxFor(m => m.Voornaam, new { @placeholder="Voornaam..." } )
            </div>
            <div class="editor-label">Tussenvoegsels</div>
		    <div class="editor-field">
                @Html.TextBoxFor(m => m.Tussenvoegsel, new { @size=20 } )
            </div>
            <div class="editor-label">Achternaam</div>
		    <div class="editor-field">
                @Html.TextBoxFor(m => m.Achternaam, new { @maxLength=50, @placeholder="Achternaam" } )    
            </div>
            <div class="editor-label">Vrouw/Man?</div>
		    <div class="editor-field">
                <input name="Geslacht" id="V" type="radio" value="V" @(Model.Geslacht=="V" ? "checked=\"checked\"" : string.Empty) title="Vrouw">
                <label for="V" title="Vrouw"></label>
                <input name="Geslacht" id="M" type="radio" value="M" @(Model.Geslacht=="M" ? "checked=\"checked\"" : string.Empty) title="Man">
                <label for="M" title="Man"></label>
            </div>
            <div class="editor-label">@Html.LabelFor(m => m.GeboorteDatum)</div>
            <div class="editor-field">@Html.TextBoxFor(m => m.GeboorteDatum, new { @placeholder = "Geboortedatum", @class = "datePicker", @Value = string.Format("{0:dd-MM-yyyy}", Model.GeboorteDatum)})</div>

            if (Model.IsEditAllowed) {
                <div class="editor-label"></div>
                <div class="editor-field"></div>
                <div class="editor-label"></div>
                <div class="editor-field"></div>
                @* Include a number of hidden fields in the view to prevent these fields from getting emptied.
                    Be wary of hacking possibilities with this. Costs (amounts and reductions) are recomputed server side to prevent this. *@
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(m => m.RegistrationDate)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.DateUpdated)
                @Html.HiddenFor(m => m.ExternalEventIdentifier)
                @Html.HiddenFor(m => m.ExternalEventSerieIdentifier)
                @Html.HiddenFor(m => m.ExternalIdentifier)
                @Html.HiddenFor(m => m.DateConfirmationSend)
                @Html.HiddenFor(m => m.IsInschrijvingNieuweGebruiker)
            
                <div class="editor-label">Licentie</div>
	    	    <div class="editor-field">
		    	    @Html.CheckBoxFor(m => m.HasLicentieNummer, new { @title="Ja, ik heb een NTB licentie!" } )
                    <label for="HasLicentieNummer" title="Ja, ik heb een NTB licentie!"></label>
                    <span id="LicentieNummerSpan" class="opt-text">@Html.TextBoxFor(m => m.LicentieNummer, new { @placeholder="Licentienummer...", @maxlength="12", @tabindex="2" }) </span>
		        </div>
                <div class="editor-label">MyLaps chip</div>
                <div class="editor-field">
                    @if (Model.IsAdmin || Model.IsNewUser || DateTime.Now < SportsEventRepository.SluitingsDatumAlgemeneInschrijving) {
    			        @Html.CheckBoxFor(m => m.HasMyLapsChipNummer, new { @title="Ja, ik heb een eigen MyLaps chip!" })
	    		        <label for="HasMyLapsChipNummer" title="Ja, ik heb een eigen MyLaps chip?"></label>
                        <span id="mylaps-chip-span" class="opt-text">@Html.TextBoxFor(m => m.MyLapsChipNummer, new { @placeholder="MyLaps chipnr..." } )</span>
                        <div id="my-laps-green" class="my-laps" style="display: none;" title="Groene chip (&euro; 1,50 per gebruik, &euro; 5,00 bij aanschaf)"></div>
                        <div id="my-laps-yellow" class="my-laps" style="display: none;" title="Gele chip (&euro; 0,- per gebruik, &euro; 30 bij aanschaf)"></div>
                    } else {
    			        @Html.CheckBoxFor(m => m.HasMyLapsChipNummer, new { @disabled="disabled", @title="niet meer wijzigbaar" })
	    		        <label for="HasMyLapsChipNummer" title="Ja, ik heb een eigen MyLaps chip?"></label>
                        <span id="mylaps-chip-span" class="opt-text">@(Model.MyLapsChipNummer ?? "-")</span>
                        @Html.HiddenFor(m => m.MyLapsChipNummer)
                    }
                </div>
            }
        
            <div class="editor-label">Flessenpost&trade;</div>
            <div class="editor-field">
			    @Html.CheckBoxFor(m => m.Newsletter, new { @title="Aanmelden voor nieuwsbrief om op de hoogte te blijven? (nodig voor deelname)" })
			    <label for="Newsletter" title="Aanmelden voor de Flessenpost nieuwsbrief om op de hoogte te blijven? (nodig voor deelname)"></label>
                <span id="newsletter-span" class="opt-text" style="display: none;">Ja <span class="small">E-mail nieuwsbrief</span></span>
		    </div>

            <div class="editor-label">Mee eten?</div>
		    <div class="editor-field">
                @if (!Model.IsBetaald.HasValue || !Model.IsBetaald.Value) {
                    @Html.CheckBoxFor(m => m.Food, new { @title="Eet je mee na afloop?" })
                    <label for="Food" title="Interesse om na afloop mee te eten?"></label>
                    <span id="food-span" class="opt-text" style="display: none;">Ja! <span class="small">Eten+2 drinks &euro;10</span></span>
                } else {
                    Html.HiddenFor(m => m.Food);
                    @(Model.Food ? "Ja" : "Nee")
                }
			</div>
			<div class="editor-label">Kamperen?</div>
			<div class="editor-field">
				@Html.CheckBoxFor(m => m.Camp, new { @title="Interesse om na het avondprogramma te blijven kamperen? (vrijblijvende reservering)"})
			    <label for="Camp" title="Ik wil blijven kamperen!"></label>
                <span id="camp-span" class="opt-text" style="display: none;">Ja! <span class="small">&euro;10; met ontbijt (cash 2 aug)</span></span>
		    </div>
		    <div class="editor-label">Fiets stallen?</div>
		    <div class="editor-field">
			    @Html.CheckBoxFor(m => m.Bike, new { @title="Interesse op de fiets te komen en deze te kunnen stallen? (vrijblijvende reservering)" })
			    <label for="Bike" title="Interesse op de fiets te komen en deze veilig te kunnen stallen? (vrijblijvende reservering)"></label>
                <span id="bike-span" class="opt-text" style="display: none;">Ja! <span class="small">(Neem wel een slot mee)</span></span>
		    </div>

            <div class="editor-label">Finale materiaal?</div>
		    <div class="editor-field">
			    <input id="recrserie" name="Finale" type="radio" value="R" @(Model.Finale=="R" ? "checked=\"checked\"" : "")/>
			    <label for="recrserie" title="Recreatief!"></label>
			    <input id="topserie" name="Finale" type="radio" value="W" @(Model.Finale=="W" ? "checked=\"checked\"" : "")/>
			    <label for="topserie" title="Wedstrijd.."></label>
                <span id="gold-span" class="opt-text">
                    <span class="small" id="topserie-text" style="display: none;">Ik hoor thuis in die finale!</span>
                    <span class="small" id="recrserie-text" style="display: none;">Fun first!</span>
                </span>
		    </div>
        
            if (Model.IsEditAllowed) {
                <div class="editor-label"></div>
		        <div class="editor-field"></div>
                <div class="editor-label"></div>
		        <div class="editor-field"></div>

                <div class="editor-label">Straat</div>
		        <div class="editor-field">
                    @Html.TextBoxFor(m => m.Straat, new { @size=15, @maxLenght="50", @placeholder="Straat"} )
                </div>
                <div class="editor-label">Huisnummer</div>
		        <div class="editor-field">
                    @Html.TextBoxFor(m => m.Huisnummer, new { @size=5, @maxLenght="8", @placeholder="Huisnr"} )
                </div>
                <div class="editor-label">Toevoeging</div>
		        <div class="editor-field">
                    @Html.TextBoxFor(m => m.HuisnummerToevoeging, new { @size=5, @maxLenght="5"} )
                </div>
                <div class="editor-label">Postcode</div>
		        <div class="editor-field">
                    @Html.TextBoxFor(m => m.Postcode, new { @size="9", @maxLenght="10", @placeholder="1234AB"} )
                </div>
                <div class="editor-label">Woonplaats</div>
		        <div class="editor-field">@Html.TextBoxFor(m => m.Woonplaats, new { @size=30, @maxLenght="25", @placeholder="Woonplaats"} )</div>
                <div class="editor-label">Land</div>
		        <div class="editor-field">@Html.DropDownListFor(m => m.Land,
                    new SelectList(new Dictionary<string, string> {
                        {"Nederland", "NL"},
                        {"België", "BE"}, 
                        {"Duitsland", "DE"}, 
                        {"Luxemburg", "LU"}, 
                        {"Frankrijk", "FR"}, 
                        {"Oostenrijk", "AT"}, 
                        {"Spanje", "ES"}, 
                        {"Zwitserland", "CH"}, 
                        {"Portugal", "PT"}, 
                        {"Zweden", "SU"}, 
                        {"Finland", "FI"}, 
                        {"Denemarken", "DK"}, 
                        {"Australie", "AU"}, 
                        {"Nieuw Zeeland", "NZ"}, 
                        {"Polen", "PL"}, 
                        {"Amerika", "US"}, 
                        {"Ander", "OT"}
                    },
                    "Value", "Key"))</div>

                <div class="editor-label"></div>
		        <div class="editor-field"></div>
                <div class="editor-label"></div>
		        <div class="editor-field"></div>

                <div class="editor-label">E-mail</div>
                <div class="editor-field">
                    @if (Model.IsAdmin || Model.IsNewUser) {
                        @Html.TextBoxFor(m => m.Email, new { @size="30", @maxLenght="100", @placeholder="E-mail"} )
                        @Html.HiddenFor(m => m.EmailBeforeUpdateIfAny)
                    } else {
                        @Html.TextBoxFor(m => m.Email, new { @size="30", @maxLenght="100", @placeholder="E-mail", @disabled="disabled", @title="niet wijzigbaar" } )
                        @* TODO BW 2013-03-01: Adding email as hidden field is necessary to retain value, but this might open up hacking possiblities... *@
                        @Html.HiddenFor(m => m.Email)
                        @Html.HiddenFor(m => m.EmailBeforeUpdateIfAny)
                    }
                </div>
                <div class="editor-label">Telefoon</div>
		        <div class="editor-field">
                    @Html.TextBoxFor(m => m.Telefoon, new { @size=10, @maxLenght="15", @placeholder="Telefoon"} )
                </div>
                <div class="editor-label"></div>
		        <div class="editor-field"></div>
            }

            <div class="editor-label"></div>
		    <div class="editor-field"></div>

            @*
            <div class="editor-label">Early bird friend</div>
            <div class="editor-field"><input value="" type="text" maxlength="100" style="width: 300px;" placeholder="E-mail van vriend(in) die ook Early Bird verdient..."></div>

            <div class="editor-label">Video fun</div>
            <div class="editor-field"><input value="" type="text" style="width: 350px;" placeholder="URL van leuke YouTube video die je wil delen..."></div>
            *@

            if(Model.IsEditAllowed && (!Model.IsBetaald.HasValue || !Model.IsBetaald.Value)) {
                <div class="editor-label">Betaalwijze</div>
		        <div class="editor-field">@Html.DropDownListFor(m => m.Betaalwijze, Model.PaymentTypeList, new { @style = "width: 250px", @class="select2", @id="payment-type", @placeholder="Selecteer betaalwijze..." })</div>

                <div class="editor-label">Bank (iDeal)</div>
		        <div class="editor-field">@Html.DropDownListFor(m => m.BankCode, Model.BankList, new { @style = "width: 250px", @class="select2", @id="bank-code", @placeholder="Selecteer je bank..." })</div>

                <div class="editor-label"></div>
		        <div class="editor-field"></div>
                <div class="editor-label"></div>
		        <div class="editor-field"></div>
            }

            <div class="editor-label">De 1e zaterdag van augustus...</div>
            if(Model.IsEditAllowed) {
                <div class="editor-field">@Html.TextAreaFor(m => m.HebJeErZinIn, new { @cols="50", @rows="2", @maxlength="100", @placeholder="..."} )</div>
            } else {    
                <div class="editor-field">@(Model.HebJeErZinIn ?? "[Geen commentaar]")</div>
            }

            if(Model.IsEditAllowed || Model.IsSpeaker) {
                <div class="editor-label"></div>
                <div class="editor-field"><a id="toon-meer-opmerkingen">Nog meer te vertellen?</a></div>
        
                <div id="meer-opmerkingen">
                    <div class="editor-label">Opmerkingen voor speaker<br /></div>
		            <div class="editor-field">
                        @Html.TextAreaFor(m => m.OpmerkingenTbvSpeaker, new { @cols="50", @rows="2", @maxlength="1024", @placeholder="Voorzie speakers Ruud & Wilko van wat extra info.."} )
                        <div class="make-it-personal speaker"></div>
                    </div>
                    <br />
                    @if(Model.IsEditAllowed) {
                        <div class="editor-label">Opmerkingen aan organisatie</div>
                        <div class="editor-field">
                            @Html.TextAreaFor(m => m.OpmerkingenAanOrganisatie, new { @cols="50", @rows="2", @maxlength="1024", @placeholder="Opmerkingen of vragen aan Pieter, Rudo, Kitty, Ad, overige organisatie.."} )
                            <div class="make-it-personal organisatie"></div>
                        </div>
                    }
                </div>
            }
            if(Model.IsEditAllowed) {
                <div id="save-button-div">
                    @if (Model.IsRegistered) {
                        <div class="checkbox-above-save">@Html.CheckBoxFor(m => m.DoForceSendConfirmationOfChange) @Html.LabelFor(m => m.DoForceSendConfirmationOfChange)</div>
                    }
                    <br />
                    <input class="@(Model.IsRegistered ? "save-button" : "save" )" name="submit" type="submit" value="@(Model.IsRegistered ? "Opslaan" : "")" />
                </div>
            }
        }
    }
</div>

@section Scripts {
    <script type="text/javascript" src="/Scripts/select2/select2.js"></script>
    <script type="text/javascript" lang="javascript" src="/Scripts/jquery.jqEasyCharCounter.min.js"></script>
    @if(!Model.IsEditAllowed) {
        <script type="text/javascript" lang="javascript">
            @* Disable all editing unless this is the current users' subscription (or user is admin). *@
            @* if ('@(Model.IsEditAllowed)' == 'False') { *@
                $("input,select").prop('disabled', true);
            @* } *@
        </script>
    }


    <script type="text/javascript">
        $(function() {
            $('.jq-runCode').click(function() {
                var parent = $(this).parent();
                var code = parent.find('code').text();
                if (!code) {
                    code = parent.find('pre').text();
                }
                eval(code);
                $(this).hide();
                return false;
            });

            $('input:not(#DoForceSendConfirmationOfChange),textarea').change(function() {
                    $('#DoForceSendConfirmationOfChange').attr('checked', true);
                    $('input[type=submit]').removeAttr('disabled');                             
            });
            $('#toon-uitleg').click(function() {
                $('ul#uitleg').slideToggle();
            });

            $('#toon-meer-opmerkingen').click(function () {
                $('#meer-opmerkingen').slideToggle();
            });
            
            $.datepicker.setDefaults($.datepicker.regional['nl']);

            $datePicker = $(".datePicker");
            $datePicker.datepicker({
                constrainInput: true,
                // defaultDate: new Date(1980,08,02),
                yearRange: '-100:-15',
                changeYear: true
            });

            $datePicker.click(function() {
                gebDat = $('#GeboorteDatum').val()
                if (gebDat == "") {
                    $('.datePicker').datepicker('setDate', "-40yr");
                } else {
                    $('.datePicker').datepicker('setDate', gebDat);
                }
            });

            determineAndDisplayCosts();

            $('ul#uitleg').hide();
                
            $('#meer-opmerkingen').hide();

            $('#costs-inner').show();

            $('#LicentieNummer').on('keyup change', function() {
                determineAndDisplayCosts();
            });

            $('#MyLapsChipNummer').on('keyup change', function() {
                determineAndDisplayCosts();
            });

            if ($('#HasLicentieNummer').attr('checked')) {
                $("#LicentieNummerSpan").show();
            } else {
                $("#LicentieNummerSpan").hide();
            }
            
            $('#HasLicentieNummer').on('change', function() {
                determineAndDisplayCosts();
                if ($(this).is(":checked")) {
                    $("#LicentieNummerSpan").show();
                } else {
                    $("#LicentieNummerSpan").hide();
                }
            });

            if ($('#HasMyLapsChipNummer').attr('checked')) {
                $("#mylaps-chip-span").show();
            } else {
                $("#mylaps-chip-span").hide();
            }
                
            $('#HasMyLapsChipNummer').change(function() {
                determineAndDisplayCosts();
                if ($(this).is(":checked")) {
                    $("#mylaps-chip-span").show();
                } else {
                    $("#mylaps-chip-span").hide();
                }
            });

            $('#Food').change(function() {
                determineAndDisplayCosts();
            });

            $('#Email').change(function() {
                $('#Email').val($('#Email').val().toLowerCase());
            });

            if ($('#test-checkbox').attr('checked')) {
                $("#test-checkbox-span").show();
                $("#test-checkbox-span-weer-uit").hide();
            } else {
                $("#test-checkbox-span").hide();
            }

            $('#test-checkbox').change(function() {
                if ($(this).is(":checked")) {
                    $("#test-checkbox-span").show();
                    $("#test-checkbox-span-weer-uit").hide();
                } else {
                    $("#test-checkbox-span").hide();
                    $("#test-checkbox-span-weer-uit").show();
                }
            });
                
            if ($('#Newsletter').attr('checked')) {
                $("#newsletter-span").show();
            } else {
                $("#newsletter-span").hide();
            }

            if ($('#Food').attr('checked')) {
                $("#food-span").show();
            } else {
                $("#food-span").hide();
            }

            if ($('#Bike').attr('checked')) {
                $("#bike-span").show();
            } else {
                $("#bike-span").hide();
            }

            if ($('#Camp').attr('checked')) {
                $("#camp-span").show();
            } else {
                $("#camp-span").hide();
            }

            $('#Newsletter').change(function() {
                if ($(this).is(":checked")) {
                    $("#newsletter-span").show('800');
                } else {
                    $("#newsletter-span").hide();
                }
            });

            $('#Food').change(function() {
                if ($(this).is(":checked")) {
                    $("#food-span").show('800');
                } else {
                    $("#food-span").hide();
                }
            });

            $('#Bike').change(function() {
                if ($(this).is(":checked")) {
                    $("#bike-span").show('800');
                } else {
                    $("#bike-span").hide();
                }
            });

            $('#Camp').change(function() {
                if ($(this).is(":checked")) {
                    $("#camp-span").show('800');
                } else {
                    $("#camp-span").hide();
                }
            });

            $('input[name=Finale]').change(function() {
                if ($('#topserie').is(":checked")) {
                    $("#recrserie-text").hide();
                    $("#topserie-text").show();
                } else {
                    $("#recrserie-text").show();
                    $("#topserie-text").hide();
                }
            });

            $('#HebJeErZinIn').jqEasyCounter({
                'maxChars': 100,
                'maxCharsWarning': 100,
                'msgFontSize': '12px',
                'msgFontColor': '#000',
                'msgFontFamily': 'Arial',
                'msgTextAlign': 'right',
                'msgWarningColor': '#F00',
                'msgAppendMethod': 'insertAfter'
            });

            function formatBank(state) {
                if (!state.id) {
                    return state.text; // optgroup
                }
                result = "<div class='sprite b" + state.id + "' /><div class='item-text'>" + state.text + "</div>";
                return result;
            }

            function formatPaymentType(state) {
                if (!state.id) {
                    return state.text; // optgroup
                }
                result = "<div class='sprite p" + state.id + "' /><div class='item-text'>" + state.text + "</div>";
                return result;
            }

            $('#bank-code').select2({
                formatResult: formatBank,
                formatSelection: formatBank,
                escapeMarkup: function(m) {
                    return m;
                }
            });

            $('#payment-type').select2({
                formatResult: formatPaymentType,
                formatSelection: formatPaymentType,
                escapeMarkup: function(m) {
                    return m;
                }
            });

        });

        function determineAndDisplayCosts() {
            var isEarlyBird = '@(Model.IsEarlyBird.HasValue && Model.IsEarlyBird.Value)' == 'True';
            var isNtbWedstrijdLid = $('#HasLicentieNummer').is(":checked") 
                        && ($('#LicentieNummer').val().substring(2,3)=='a' || $('#LicentieNummer').val().substring(2,3)=='A'
                            || $('#LicentieNummer').val().substring(2,3)=='x' || $('#LicentieNummer').val().substring(2,3)=='X');
            var hasMyLaps = $('#HasMyLapsChipNummer').is(":checked");
            var ml = $('#MyLapsChipNummer').val();
            var myLapsGeel = /^\D/;
            var myLapsGroen = /^\d/;
            var isMyLapsGeel  = hasMyLaps && myLapsGeel.test(ml);
            var isMyLapsGroen = hasMyLaps && myLapsGroen.test(ml);
            if (isMyLapsGroen) {
                $('#my-laps-yellow').hide();
                $('#my-laps-green').show();
            }
            if (isMyLapsGeel) {
                $('#my-laps-green').hide();
                $('#my-laps-yellow').show();
            }

            var basicCosts = @(SportsEventRepository.HuidigeDeelnameBedrag);
            var licenseCosts = isNtbWedstrijdLid ? 0 : @(SportsEventRepository.KostenNtbDagLicentie );
            var chipCosts = !hasMyLaps ? @(SportsEventRepository.KostenHuurMyLapsChipGeel) : 
                isMyLapsGeel ? 0 : @(SportsEventRepository.KostenGebruikMyLapsChipGroen);
            var reduction = !isEarlyBird ? 0 : @(SportsEventRepository.HoogteEarlyBirdKorting );
            var foodCosts = !$('#Food').is(':checked') ? 0 : @(SportsEventRepository.KostenEten );
            var totalCosts = basicCosts + licenseCosts + chipCosts + foodCosts - reduction;
            $('#basic').html(euroBedrag(basicCosts));
            $('#license').html(euroBedrag(licenseCosts));
            $('#chip').html(euroBedrag(chipCosts));
            $('#food').html(euroBedrag(foodCosts));
            $('#reduction').html(euroBedrag(reduction));
            $('#total').html(euroBedrag(totalCosts));
        }

        function euroBedrag(bedragInCenten) {
            result = bedragInCenten / parseFloat(100);
            result = result.toFixed(2);
            result = result.replace(".",",");
            result = result.replace(",00",",-");
            return "€ " + result;
        }

    </script>

}
