@model HRE.Models.InschrijvingModel

@using HRE.Business

@{
    ViewBag.Title = "Ik doe mee!";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@if (Model.IsEditAllowed) {
    
    <div class="badge">- Persoonlijke Pagina -<br /> Hét 2e Rondje Eilanden<br />-<i> Za 3 aug 2013 </i>-</div>
    <h1>@Model.VolledigeNaam</h1>
    <p>Je hebt je @Model.DateRegisteredHR aangemeld voor Hét 2e Rondje Eilanden. Je inschrijving wordt definitief als je het inschrijfgeld van @Model.InschrijfGeldFormatted voldaan hebt.</p>
    <span class="like">@Facebook.LikeButton("", "standard", true, 80, 40, "like", "", "light", "")</span>
    <p>Let op: om je Early Bird korting te verzilveren dien je het inschrijfgeld voor 1 maart over te maken!</p>
        <table class="bank-account">
        <tr><td>Bank rek nr</td><td><span class="quotable">1684.92.059</span> (Rabobank)</td></tr>
        <tr><td>Ten name van </td><td><span class="quotable">Stichting Woelig Water<span class="quotable"> (te Vinkeveen)</td></tr>
        <tr><td>Onder vermelding van</td><td><span class="quotable">H2RE @Model.VolledigeNaam</span></td></tr>
    </table>
    <p class="personal-links">Persoonlijke links:</p>
    <ul class="personal-links">
        <li><a href="/Inschrijvingen/Edit?externalId=@Model.ExternalIdentifier&eventNr=@Model.ExternalEventIdentifier">Inschrijfgegevens</a></li>
        <li><a href="/Inschrijvingen">Deelnemers tot nu</a></li>
        <li>Binnenkort meer...</li>
    </ul>
} else {
    <h1>@Model.VolledigeNaam</h1>
    <p>Wijzigen niet toegestaan! Er ging iets mis met inloggen.</p>
}
