@model HRE.Models.InschrijvingenModel

@using HRE.Business

@{
    ViewBag.Title = "Inschrijvingen " + @Model.Event.Name;
    List<int> testParticipants = HRE.Dal.LogonUserDal.GetTestParticipantIds();
    
    var currentUser = HRE.Dal.LogonUserDal.GetCurrentUser();
    int currentUserId = 0;
    if (currentUser!=null) {
        currentUserId = currentUser.Id;
    }
}

<link href="@Url.Content("~/Content/subscribe.css")" rel="stylesheet" type="text/css">

@if (Model.HasAdminRole) {
    <div id="admin-panel-header">Admin panel</div>
            
    using(Html.BeginForm("Index", "Inschrijvingen", FormMethod.Post, new { @id="scrape", @class="parallel-form" } )) {
        @Html.AntiForgeryToken();
        <text>Scrape:</text>
            @Html.DropDownList("EventNumber",
            new SelectList(new Dictionary<string, string> {
                {"2013", HRE.Models.InschrijvingenRepository.H2RE_EVENTNR},
                {"2012", HRE.Models.InschrijvingenRepository.HRE_EVENTNR}
            },
            "Value", "Key"))

            @Html.DropDownList("maxNumberOfScrapedItems",
            new SelectList(new Dictionary<string, int> { {"Alles", 0}, {"5", 5}, {"10", 10}, {"20", 20}, {"50", 50}, 
                                                            {"100", 100}, {"200", 200}, {"300", 300}, {"500", 500}, 
                                                            {"1000", 1000}}, "Value", "Key"));
        @Html.CheckBoxFor(m => m.OverrideLocallyUpdated, new { @title="Override"});
        <text>Overwrite</text>
        <input type="submit" name="SubmitAction" value="Update" />
        <input type="submit" name="SubmitAction" value="Scrape" />
        <input type="submit" name="SubmitAction" value="Download" class="download-excel"/>
    }
}

@if(!string.IsNullOrEmpty(Model.Message)) {
    <div class="message">@Model.Message</div>
}

<div id="marquee-div">
    <div id="marquee-label">Er hebben zich nu <b>@HRE.Dal.LogonUserDal.AantalIngeschrevenDeelnemers(Model.EventNumber)</b> deelnemers ingeschreven. @*(max @HRE.Common.HreSettings.AantalStartPlekken) waarvan <b>@HRE.Dal.LogonUserDal.AantalIngeschrevenEarlyBirds()</b> Early Birds™ (max @HRE.Common.HreSettings.AantalEarlyBirdStartPlekken). *@ Hebben zij er zin in?</div>
    <marquee>@Html.Raw(Model.ParticipantRemarks)</marquee>
</div>

<h1>@(Model.EventNumber==HRE.Models.InschrijvingenRepository.HRE_EVENTNR ? 
        "Deelnemerslijst HRE 2012" :
        "Deelnemerslijst H2RE 2013")</h1>

@if (Model.HasSpeakerRole) {
    using(Html.BeginForm("DownloadSpeakerList", "Inschrijvingen", FormMethod.Post, new { @class="parallel-form" } )) {
        @Html.AntiForgeryToken();
        <input type="submit" value="SpeakerLijst" class="download-excel"/>
        <i>@Model.NrOfEntries deelnemers (Food: @Model.NrOfFoodInteressees, Camp: @Model.NrOfCampInteressees, Bike: @Model.NrOfBikeInteressees, Early Birds: @Model.NrOfEarlyBirds)</i>
    }
}


<span style="color: #ffffff; background-color: #2483B3; text-align: center; float: right; padding: 5px 10px; margin: 5px 10px; border: 1px solid #303030;">
@if(DateTime.Compare(DateTime.Now, HRE.Common.HreSettings.OpeningsdatumAlgemeneInschrijving)>0) {
    @Html.ActionLink("Ik doe mee!", "IkDoeMee", "Inschrijvingen")
} else {
    <text>Op @HRE.Common.HreSettings.OpeningsdatumAlgemeneInschrijving.ToShortDateString() opent de algemene inschrijving (totaal @HRE.Common.HreSettings.AantalStartPlekken startplekken)</text>
}
</span>
<p>Hieronder de deelnemerslijst; met startnummers en starttijden.<br />
<b>Belangrijk: Check je nummer en tijd de dag voor de wedstrijd nog een keer! Er kunnen namelijk nog een paar verschuivingen plaatsvinden...</b></p>
@if (Model==null || Model.Inschrijvingen==null || Model.Inschrijvingen.Count==0) {
    <p>Er zijn nog geen deelnemers.</p>
} else {
    <table class="deelnemers@(Model.HasAdminRole ? " admin-view" : string.Empty)">
        <tr>
            <th>Voorlopig startnr.</th>
            <th>Voorlopige starttijd</th>
            <th>Deelnemer</th>
            <th>Woonplaats</th>
            <th></th>
            <th></th>
            @if (Model.HasAdminRole) {
                <th>DVD</th>
                @*<th>Geb. datum</th>
                <th>Eerst gescraped</th>
                <th>Laatst gescraped</th> *@
                <th>Saldo</th>
                <th>NTB</th>
                <th>Updated</th>
                <th></th>
            }
        </tr>

        @{
            int startNummer = 1;
            DateTime startTijd = HRE.Common.HreSettings.DatumTijdstipH2RE;
        }
        @foreach (var entry in Model.Inschrijvingen) {
            string participant = entry.Achternaam;
            bool isTestUser = testParticipants.Contains(entry.UserId);
            bool isMe = currentUserId==entry.UserId;
            <tr class="@(isTestUser ? "test-user" : "") @(isMe ? "is-me" : "")">
                <td>@startNummer @* @entry.RaceNumber *@</td>
                <td>@string.Format("{0:H:mm:ss}", startTijd)</td>
                <td>@Html.ActionLink(entry.VolledigeNaam, "Edit", new { externalId = entry.ExternalIdentifier, eventNr = entry.ExternalEventIdentifier })</td>
                <td>@entry.Woonplaats</td>
                <td>@string.Format("{0:d-MMM}", entry.RegistrationDate)</td>
                @*<td class="small">@Html.Raw(HRE.Common.Common.SmartJoin("+", new string[] { !entry.Food && !entry.Bike && !entry.Camp ? "Vanilla" : string.Empty, entry.Food ? "Food" : string.Empty, entry.Bike ? "Bike" : string.Empty, entry.Camp ? "Camp" : string.Empty} ))</td> *@
                <td style="width: 120px;">
		            <div class="editor-field">
                        @{string foodTitle = entry.Food ? string.Format("{0} blijft eten!", entry.Voornaam.UppercaseFirst()) : "";}
                        @Html.CheckBoxFor(m => entry.Food, new { @title= @foodTitle, @disabled="",  })
			            <label for="entry.Food" title="Blijft eten"></label>
		            </div>
		            <div class="editor-field">
                        @{string campTitle = entry.Camp ? string.Format("{0} blijft kamperen!", entry.Voornaam.UppercaseFirst()) : "";}
			            @Html.CheckBoxFor(m => entry.Camp, new { @title= @campTitle, @disabled="",  })
			            <label for="entry.Camp" title="Blijft kamperen"></label>
		            </div>
                    <div class="editor-field">
                        @{string bikeTitle = entry.Bike ? string.Format("{0} komt op de fiets!", entry.Voornaam.UppercaseFirst()) : "";}
                        @Html.CheckBoxFor(m => entry.Bike, new { @title= @bikeTitle, @disabled=""})
                        <label for="entry.Bike" title="Komt op de fiets"></label>    
                    </div>
                </td>
                @if (Model.HasAdminRole) {
                    using(Html.BeginForm("DeleteEntry", "Inschrijvingen", new { model = Model, participantUserId = entry.ParticipationId}, FormMethod.Post, null)) {
                        @Html.HiddenFor(model => model.EventNumber)
                        <td>@string.Format("{0:dd-MM-yyyy H:mm}", @entry.VirtualRegistrationDateForOrdering)</td>
                        @*
                        <td>@string.Format("{0:dd-MM-yyyy}", entry.GeboorteDatum)</td> 
                        <td>@string.Format("{0:dd-MM-yyyy}", entry.DateFirstSynchronized.HasValue ? entry.DateFirstSynchronized.Value.RelativeDateDescription() : "-")</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", entry.DateLastSynchronized.HasValue ? entry.DateLastSynchronized.Value.RelativeDateDescription()  : "-")</td>
                        *@
                        <td><span title="@string.Format("Inschrijfgeld: {0}, Betaald: {1}.", (entry.InschrijfGeld.HasValue ? entry.InschrijfGeld.AsAmount() : "-"), (entry.BedragBetaald.HasValue ? entry.BedragBetaald.AsAmount() : "-"))">@((entry.InschrijfGeld.HasValue && entry.BedragBetaald.HasValue ? (entry.InschrijfGeld.Value-entry.BedragBetaald.Value).AsAmount() : "-"))</span></td>
                        <td>@(entry.DateLastSynchronized.HasValue ? "1" : "")</td>
                        <td><span title="@string.Format("Aangemaakt: {0:dd-MM-yyyy}", entry.DateCreated.RelativeDateDescription())">@string.Format("{0:dd-MM-yyyy}", entry.DateUpdated.RelativeDateDescription())</span></td>
                        <td><input value="Verwijderen" type="submit" onclick="return confirm('Weet je zeker dat je de inschrijving van gebruiker @entry.UserName wilt verwijderen?\n NB Bij verwijderen van inschrijving zal het account van deze gebruiker hierbij NIET mee verwijderd woden.');" /></td>
                    }
                }
            </tr>
            if ((startNummer%HRE.Common.HreSettings.AantalPersonenPerStartschot)==0) {
                startTijd = startTijd.AddSeconds(HRE.Common.HreSettings.AantalSecondenTussenStartschots);
            }
            startNummer++;
        }
    </table>
}

<script type="text/javascript">
    $(function () {
        $('#EventNumber.').change(function () {
            document.getElementById('select-edition').submit()
        });

        $("[data-confirm]").click(function (e) {
            return confirm('Weet je zeker dat je deze gebruiker wilt verwijderen?');
        });

        $('#uitleg').hide();

        $('#toon-uitleg').click(function () {
            $('ul#uitleg').slideToggle();
        });

    });
</script>
