@model HRE.Models.InschrijvingenModel

@using HRE.Business

@{
    ViewBag.Title = "Inschrijvingen " + @Model.Event.Name;
    List<int> testParticipants = HRE.Dal.LogonUserDal.GetTestParticipantIds();
    
    var currentUser = HRE.Dal.LogonUserDal.GetCurrentUser();
    int currentUserId = 0;
    if (currentUser!=null) {
        currentUserId = currentUser.Id;
    }
}

@if (Model.IsAdmin) {
    <div id="admin-panel-header">Admin panel</div>
    using(Html.BeginForm("Index", "Inschrijvingen", FormMethod.Post, new { @id="select-edition", @class="parallel-form" } )) {
        @Html.DropDownList("EventNumber",
            new SelectList(new Dictionary<string, string> {
                {"2013", HRE.Models.InschrijvingenRepository.H2RE_EVENTNR},
                {"2012", HRE.Models.InschrijvingenRepository.HRE_EVENTNR}
            },
            "Value", "Key"))
        <input type="submit" value="Update" />
    }
    
    using(@Html.BeginForm("DeleteTestUser", "Inschrijvingen", FormMethod.Post, new { @id="deleteTestUser", @class="parallel-form"} )) {
        @Html.DropDownListFor(m => m.UserIdToDelete, HRE.Dal.LogonUserDal.GetTestParticipantsAsSelectList());
        <input type="submit" value="Delete" />
    }
    
    using(Html.BeginForm("Scrape", "Inschrijvingen", FormMethod.Post, new { @id="scrape", @class="parallel-form" } )) {
        @Html.AntiForgeryToken();
        <text>Scrape:</text>
        @Html.DropDownList("maxNumberOfScrapedItems",
            new SelectList(new Dictionary<string, int> { {"Alles", 0}, {"5", 5}, {"10", 10}, {"20", 20}, {"50", 50}, 
                                                            {"100", 100}, {"200", 200}, {"300", 300}, {"500", 500}, 
                                                            {"1000", 1000}}, "Value", "Key"));
        @Html.CheckBoxFor(m => m.OverrideLocallyUpdated, new { @title="Override"});
        <text>Overwrite</text>
        <input type="submit" value="Scrape" />
    }
}


@if(!string.IsNullOrEmpty(Model.Message)) {
    <div class="message">@Model.Message</div>
}

<div id="marquee-div">
    <div id="marquee-label">Momenteel <b>@HRE.Dal.LogonUserDal.AantalIngeschrevenDeelnemers()</b> deelnemers @*(max @HRE.Common.HreSettings.AantalStartPlekken)*@ waarvan <b>@HRE.Dal.LogonUserDal.AantalIngeschrevenEarlyBirds()</b> Early Birds™ (max @HRE.Common.HreSettings.AantalEarlyBirdStartPlekken). Hebben zij er zin in?</div>
    <marquee>@Html.Raw(Model.ParticipantRemarks)</marquee>
</div>

<h1>@(Model.EventNumber==HRE.Models.InschrijvingenRepository.HRE_EVENTNR ? 
        "Deelnemerslijst HRE 2012" :
        "Deelnemerslijst H2RE 2013")</h1>

<span style="color: #ffffff; background-color: #2483B3; text-align: center; float: right; padding: 5px 10px; margin: 5px 10px; border: 1px solid #303030;">
@if(DateTime.Compare(DateTime.Now, HRE.Common.HreSettings.OpeningsdatumAlgemeneInschrijving)>0) {
    @Html.ActionLink("Ik doe mee!", "IkDoeMee", "Inschrijvingen")
} else {
    <text>Op @HRE.Common.HreSettings.OpeningsdatumAlgemeneInschrijving.ToShortDateString() opent de algemene inschrijving (totaal @HRE.Common.HreSettings.AantalStartPlekken startplekken)</text>
}
</span>
<p>Hieronder de lijst van aangemelde deelnemers aan Het Rondje Eilanden.</p>
@if (Model==null || Model.Inschrijvingen==null || Model.Inschrijvingen.Count==0) {
    <p>Er zijn nog geen deelnemers.</p>
} else {
    <table class="deelnemers@(Model.IsAdmin ? " admin-view" : string.Empty)">
        <tr>
            <th>Deelnemer</th>
            <th>Woonplaats</th>
            <th>Aangemeld</th>
            <th>Opties</th>
            @if (Model.IsAdmin) {
                <th>E-mail adres</th>
                <th>Geb. datum</th>
                <th>Eerst gescraped</th>
                <th>Laatst gescraped</th>
                <th>Updated</th>
                <th></th>
            }
        </tr>

        @*using(Html.BeginForm("Scrape", "Inschrijvingen", FormMethod.Post, new { @id="scrape", @class="parallel-form" } )) { *@

            
        @foreach (var entry in Model.Inschrijvingen) {
            string participant = entry.Achternaam;
            bool isTestUser = testParticipants.Contains(entry.UserId);
            bool isMe = currentUserId==entry.UserId;
            <tr class="@(isTestUser ? "test-user" : "") @(isMe ? "is-me" : "")">
                <td>@Html.ActionLink(entry.VolledigeNaam, "Edit", new { externalId = entry.ExternalIdentifier, eventNr = entry.ExternalEventIdentifier })</td>
                <td>@entry.Woonplaats</td>
                <td>@string.Format("{0:dd-MM-yyyy}", entry.RegistrationDate)</td>
                <td>
                    
                </td>
                @if (Model.IsAdmin) {
                    using(Html.BeginForm("DeleteEntry", "Inschrijvingen", new { participationId = entry.ParticipationId}, FormMethod.Post, null)) {
                        <td><a href="mailto:@entry.Email">@entry.Email</a></td>
                        <td>@string.Format("{0:dd-MM-yyyy}", entry.GeboorteDatum)</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", entry.DateFirstSynchronized.HasValue ? entry.DateFirstSynchronized.Value.RelativeDateDescription() : "-")</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", entry.DateLastSynchronized.HasValue ? entry.DateLastSynchronized.Value.RelativeDateDescription()  : "-")</td>
                        <td><span title="@string.Format("Aangemaakt: {0:dd-MM-yyyy}", entry.DateCreated.RelativeDateDescription())">@string.Format("{0:dd-MM-yyyy}", entry.DateUpdated.RelativeDateDescription())</span></td>
                        <td><input value="Verwijderen" type="submit" onclick="return confirm('Weet je zeker dat je gebruiker @entry.UserName wilt verwijderen?');" /></td>
                    }
                }
            </tr>
        }
    </table>
}

<script type="text/javascript">
    $(function () {
        $('#EventNumber.').change(function () {
            document.getElementById('select-edition').submit()
        });

        $("[data-confirm]").click(function (e) {
            return confirm('Weet je zeker dat je deze gebruiker wilt verwijderen?');
        });

        $('#uitleg').hide();

        $('#toon-uitleg').click(function () {
            $('ul#uitleg').slideToggle();
        });

    });
</script>
