@model HRE.Models.ScrapeNtbIModel

@using HRE.Business

@{
    ViewBag.Title = "Scrape NTB";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    List<int> testParticipants = HRE.Dal.LogonUserDal.GetTestParticipantIds();
    
    var currentUser = HRE.Dal.LogonUserDal.GetCurrentUser();
    int currentUserId = 0;
    if (currentUser!=null) {
        currentUserId = currentUser.Id;
    }
}

@if (Model.IsAdmin) {
    using(Html.BeginForm("Index", "Inschrijvingen", FormMethod.Post, new { @id="select-edition", @class="parallel-form" } )) {
        @Html.DropDownList("EventNumber",
            new SelectList(new Dictionary<string, string> {
                {"2013", HRE.Models.InschrijvingenRepository.H2RE_EVENTNR},
                {"2012", HRE.Models.InschrijvingenRepository.HRE_EVENTNR}
            },
            "Value", "Key"))
         <input type="submit" value="Update" />
    }
    
    using(@Html.BeginForm("DeleteTestUser", "Inschrijvingen", FormMethod.Post, new { @id="deleteTestUser", @class="parallel-form"} )) {
        @Html.DropDownListFor(m => m.UserIdToDelete, HRE.Dal.LogonUserDal.GetTestParticipantsAsSelectList());
        <input type="submit" value="Delete" />
    }
    
    using(Html.BeginForm("Scrape", "Inschrijvingen", FormMethod.Post, new { @id="scrape", @class="parallel-form" } )) {
        @Html.AntiForgeryToken();
        <text>Scrape:</text>
        @Html.DropDownList("maxNumberOfScrapedItems",
            new SelectList(new Dictionary<string, int> { {"Alles", 0}, {"5", 5}, {"10", 10}, {"20", 20}, {"50", 50}, 
                                                         {"100", 100}, {"200", 200}, {"300", 300}, {"500", 500}, 
                                                         {"1000", 1000}}, "Value", "Key"));
        @Html.CheckBoxFor(m => m.OverrideLocallyUpdated, new { @title="Override"});
        <text>Overwrite</text>
        <input type="submit" value="Scrape" />
    }
}

@if(!string.IsNullOrEmpty(Model.Message)) {
    <div class="message">@Model.Message</div>
}

<h1>@(Model.EventNumber==HRE.Models.InschrijvingenRepository.HRE_EVENTNR ? 
        "Deelnemerslijst HRE 2012" :
        "Deelnemerslijst H2RE 2013")</h1>
@if (Model==null || Model.Entries==null || Model.Entries.Count==0) {
    <span>Er zijn nog geen deelnemers.</span>
} else {
    <table class="deelnemers@(Model.IsAdmin ? " admin-view" : string.Empty)">
        <tr>
            <th>Deelnemer</th>
            <th>Woonplaats</th>
            <th>Aangemeld</th>
            @if (Model.IsAdmin) {
                <th>E-mail adres</th>
                <th>Geb. datum</th>
                <th>Eerst gescraped</th>
                <th>Laatst gescraped</th>
                <th>Updated</th>
            }
        </tr>

        @foreach (var entry in Model.Entries) {
            string participant = entry.Achternaam;
            bool isTestUser = testParticipants.Contains(entry.UserId);
            bool isMe = currentUserId==entry.UserId;
            <tr class="@(isTestUser ? "test-user" : "") @(isMe ? "is-me" : "")">
                <td>@Html.ActionLink(entry.VolledigeNaam, "Edit", new { externalId = entry.ExternalIdentifier, eventNr = entry.ExternalEventIdentifier })</td>
                <td>@entry.Woonplaats</td>
                <td>@string.Format("{0:dd-MM-yyyy}", entry.RegistrationDate)</td>
                @if (Model.IsAdmin) {
                    <td><a href="mailto:@entry.Email">@entry.Email</a></td>
                    <td>@string.Format("{0:dd-MM-yyyy}", entry.GeboorteDatum)</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", entry.DateFirstSynchronized.HasValue ? entry.DateFirstSynchronized.Value.RelativeDateDescription() : "-")</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", entry.DateLastSynchronized.HasValue ? entry.DateLastSynchronized.Value.RelativeDateDescription()  : "-")</td>
                    <td><span title="@string.Format("Aangemaakt: {0:dd-MM-yyyy}", entry.DateCreated.RelativeDateDescription())">@string.Format("{0:dd-MM-yyyy}", entry.DateUpdated.RelativeDateDescription())</span></td>
                }
                </tr>
        }
    </table>
}
<script type="text/javascript">
    $('#EventNumber.').change(function () {
        document.getElementById('select-edition').submit()
    });
</script>