@model HRE.Models.InschrijvingModel

@using HRE.Business

@{
    ViewBag.Title = (Model==null) ? "Mijn Rondje Eilanden" : Model.VolledigeNaam + " - Mijn " + (Model.IsEarlyBird.HasValue && Model.IsEarlyBird.Value ? "2e " : "") + "Rondje Eilanden!";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string shareText = string.IsNullOrEmpty(Model.HebJeErZinIn) ? "Ik heb me zojuist als vroege vogel aangemeld voor Hét 2e Rondje Eilanden! #H2RE" : Model.HebJeErZinIn;
}

<div id="fb-root"></div>
<script type="text/javascript">
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1&appId=389310264453412";
    fjs.parentNode.insertBefore(js, fjs);
} (document, 'script', 'facebook-jssdk'));
</script>

@if (Model!=null && Model.IsEditAllowed) {
    
    <div class="badge">Míjn @(Model.IsEarlyBird.HasValue && Model.IsEarlyBird.Value ? "2e " : "")Rondje Eilanden<br />
        <ul class="personal-links">
        <li>@Html.ActionLink("Gegevens " + Model.Voornaam, "Edit", new { externalId=Model.ExternalIdentifier, @eventNr=Model.ExternalEventIdentifier })</li>
        <li><a href="/Inschrijvingen">Deelnemerslijst</a></li>
        <li>Binnenkort meer...</li>
        </ul>
    </div>
    <h1>@Model.VolledigeNaam</h1>
    <h2>Proficiat!</h2>
    if(Model.EmailAddressJustConfirmed) {
        <p>Je e-mail adres is bevestigd. Bedankt, zo weten we zeker dat jij de mails naar @Model.Email goed binnenkrijgt!</p>
    }
    if (Model.User.IsEmailAddressUnconfirmed) {
    	<p>Er is een e-mail gestuurd naar '<a href="mailto:@Model.User.EmailAddress">@Model.User.EmailAddress</a>. Klik op de inlog link in deze e-mail om je e-mail adres te bevestigen. Pas daarna kan je inschrijving definitief gemaakt worden.</p>
    }
    <p>Je hebt je @Model.RegistrationDate.RelativeDateTimeDescription() aangemeld voor Hét 2e Rondje Eilanden.</p>
    if (!Model.IsVolledigEnCorrectBetaald) {
        <p>Je moet nog &euro; @Model.BedragTeBetalen betalen. Hieronder de betaalgegevens. Pas als het inschrijfgeld binnen is ben je ingeschreven. Mocht je kortgeleden het geld overgemaakt hebben, dan kan het zijn dat onze betalingen hiervoor nog niet bijgewerkt is. Neem bij twijfel contact op via <a href="mailto:info@hetrondjeeilanden.nl">info@hetrondjeeilanden.nl</a> bij vragen!</p>
    }
    <table class="bank-account">
        <tr><td>Inschrijfgeld</td><td><span class="quotable">@Model.InschrijfGeld.AsAmount()</span></td></tr>
        <tr><td>Bank rek nr</td><td><span class="quotable">1684.92.059</span> (Rabobank)</td></tr>
        <tr><td>Ten name van </td><td><span class="quotable">Stichting Woelig Water</span> (te Vinkeveen)</td></tr>
        <tr><td>Onder vermelding van</td><td><span class="quotable">H2RE @Model.VolledigeNaam</span></td></tr>
    </table>
    if (Model.IsEarlyBird.HasValue && Model.IsEarlyBird.Value) {
        <p>Let op: om Early Bird korting te verzilveren moest het inschrijfgeld voor @HRE.Common.HreSettings.EindDatumEarlyBirdKorting.ToShortDateString() overgemaakt te zijn!</p>
    }
    <p>NB: Je bent automatisch ingelogd via de link in de e-mail. Log als je klaar bent zelf weer uit via de link 'Uitloggen' rechts bovenin (om onder andere te voorkomen dat eventuele andere gebruikers van deze computer je gegevens kunnen zien/bewerken).</p>
    <br clear="all"/>
    <h2>Deel met je vrienden</h2>
    <span class="tweet-this">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hetrondjeeilanden.nl" data-text="@shareText" data-via="trondjeeilanden" data-lang="nl" data-hashtags="h2re">Tweeten</a>
        <script type="text/javascript">
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");
        </script>
    </span>

    <div class="share-text">@("\"" + shareText + "\"")</div>
    <p>Actief op social media? Tweet het meteen of post het hieronder en laat je Facebook vrienden en Twitter volgers weten dat je er 3 augustus bij bent in Vinkeveen!</p>
    <div class="facebook-comments">
        <div class="fb-comments" data-href="http://www.hetrondjeeilanden.nl" data-width="470" data-num-posts="6"></div>
    </div>
} else {
    <h1>Persoonlijke Pagina</h1>
    <p>Probleem met openen Persoonlijke Pagina. Wijzigen niet toegestaan!<br /><br />Er ging iets mis met inloggen...</p>
}
