@model HRE.Models.Newsletters.NewsletterViewModel

@{
    ViewBag.Title = "Nieuwe Newsletter";
}

@section Css {
    <link href="/Content/admin_new.css" rel="stylesheet" type="text/css">
}

@{ Html.BeginForm(); } 
@if (!ViewData.ModelState.IsValid) { Html.RenderPartial("_MessageBox"); }
<div id="ModelForm" class="vote rounded newsletter">
    <div class="contents">
        <div class="overview-edit">
            <h3>Nieuwe nieuwsbrief</h3>
            <p>Kies de gewenste titel van de nieuwsbrief, of deze een persoonlijke inloglink moet bevatten en daarna voor elk item de titel, tekst, bestandsnaam header icoon en bestandsnaam foto rechts van de tekst.</p>
            <table>
                    <tr>
                        <td>
                            @Html.LabelFor(m => Model.Title)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => Model.Title)
                        </td>
                    </tr>
                     <tr>
                        <td>
                            @Html.LabelFor(m => m.IncludeLoginLink)
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.IncludeLoginLink)
                        </td>
                    </tr>
                     <tr>
                        <td>
                            @Html.LabelFor(m => Model.Audience)
                        </td>
                        <td>@Html.DropDownListFor(m => m.Audience, 
                                HRE.Models.Newsletters.NewsletterRepository.AudienceSelectList(Model.Audience.ToString()), 
                                new { @style = "width: 230px", @class = "select2-dropdown" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => Model.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(m => Model.DateCreated)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => Model.DateUpdated)
                        </td>
                        <td>
                            @Html.DisplayFor(m => Model.DateUpdated)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => Model.DateSent)
                        </td>
                        <td>
                            @Html.DisplayFor(m => Model.DateSent)
                        </td>
                    </tr>
            </table>
            <div id="ChildItems">
                @Html.EditorFor(model => model.Items)
            </div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="footer">
        @Html.ActionLink("< Overzicht","index")
        <input type="submit" style="float:right;" value="Opslaan" />
        @Html.ActionLink("Bekijk", "Display", new { newsletterId = Model.ID })
        @*<a class="nice-button preview" style="margin: 5px;" href="#">Preview</a> *@
        <a href="#" class="nice-button" style="margin: 5px;" id="AddNewsletterItem">Voeg nog een item toe</a>
        <div class="clear-fix"></div>
    </div>
</div>

<div id="dialog-modal" title="Nieuwsbrief Preview"></div>

@Html.TextBoxFor(m => Model.DateCreated, new { @style = "display: none" })
@Html.TextBoxFor(m => Model.DateUpdated, new { @style = "display: none" })
@Html.TextBoxFor(m => Model.DateSent, new { @style = "display: none" })
<input id="ID" name="ID" style="display: none" type="text" value="@Model.ID">
@Html.TextBoxFor(m => Model.SequenceNumber, new { @style = "display: none" })

@{ Html.EndForm(); }

@section Scripts {
    <script type="text/javascript" src="/Scripts/newsletter.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/jqueryAdapter.js"></script>
}