@model List<HRE.Models.Newsletters.NewsletterViewModel>

@{
    ViewBag.Title = "Nieuwsbrieven beheren";
}

@Html.ActionLink("Nieuwe nieuwsbrief", "CreateNewsletter", null, new { @class = "nice-button preview" })
<br /><br />
@if (Model.Count() == 0) {
    <h3>Geen nieuwsbrieven gevonden</h3>
} else {
    int i = 0;
    <table>
    <tr><th>Titel</th><th>Verzonden</th><th colspan="2">&nbsp;</th></tr>
    @foreach (HRE.Models.Newsletters.NewsletterViewModel item in Model) {
        var SentDate = "-";
        var row = "";
        
        if (item.DateSent != null) {
            DateTime dt = (DateTime)item.DateSent;
            SentDate = dt.ToString("dd-MM-yyyy");
        }
        
        if (i % 2 == 0 || i == 0) {
            row = "class=\"odd\"";
        }
        
        <tr class="@Html.Raw(row)">
            @{ string title = item.Title ?? "- no title -"; }
            <td>@Html.ActionLink(title, "CreateNewsletter", new { id = item.ID })</td>
            <td>@item.DateCreated.ToString("dd-MM-yyyy")</td>
            <td>@Html.ActionLink("Bekijk", "Display", new { newsletterId = item.ID })</td>
            <td>@Html.ActionLink("Versturen", "SendNewsletter", new { newsletterId = item.ID})</td>
        </tr>
        i++;
    }
    </table>
}
