@model HRE.Models.Newsletters.SendPersonalNewsletterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
        <link href="http://www.hetrondjeeilanden.nl/Content/newsletter.css" rel="stylesheet" type="text/css">
	    <title>@Model.Newsletter.Title</title>
    </head>
	<body>
		<table border="0" cellspacing="0" cellpadding="0" style="width: 800px; border: 0px; margin: 0px; padding: 0px;">
            <thead>
				<tr class="header">
					<th><img src="@HRE.Common.Common.GetDomainBase()/Content/img/Nieuwsbrief/News_Header.png" alt="HRE Niewsbrief"/></th>
				</tr>
			</thead>
            <tbody>
				@if (Model.IsEmail) {
				<tr>
					<td style="color: #406A80; padding: 10px 30px 10px 30px; font-family: Calibri, sans serif; font-size: 12pt;">Hallo @(Model.User.PrimaryAddress.Firstname)!</td>
				</tr>
                }
                @if (Model.IsEmail && Model.User!=null && (Model.Newsletter.IncludeLoginLink || !string.IsNullOrEmpty(Model.Newsletter.IntroText))) {
                <tr class="item-content">
					<td style="color: #406A80; padding: 10px 30px 10px 30px; font-family: Calibri, sans serif; font-size: 12pt;">
                        @if (!string.IsNullOrEmpty(Model.Newsletter.IntroText)) {
    				        @Html.Raw(Model.Newsletter.IntroText)
                        }
                        @if (Model.User.IsEmailAddressUnconfirmed) {
    				        <text>Je e-mail adres - @Model.User.EmailAddress - is nog niet bevestigd. Log minstens éénmaal in via de link hieronder om deze adres te bevestigen. Pas daarna kan je inschrijving definitief gemaakt worden.</text>
                        }
                        @if (Model.Newsletter.IncludeLoginLink) {
    				        <a style="color: #ffffff; background-color: #2483B3; text-align: right; float: right; padding: 5px; margin: 10px; border: 1px solid #303030;" href="@HRE.Common.Common.GetDomainBase()/Account/FlessenPostLink/@Model.PersonalLoginLink">Log mij nu in! > </a>
                        }
                    </td>
				</tr>
                }
            </tbody>
        </table>
                            
		@foreach(var Item in Model.Newsletter.Items) {
            if (!string.IsNullOrEmpty(Item.IconImagePath)) {
                <table border="0" cellspacing="0" cellpadding="0" style="width: 800px; border: 0px; margin: 0px; padding: 0px;">
                    <tr class="item-header">
    					<td class="spacer" style="width: 20px; padding: 0px; margin: 0px"></td>
                        <td class="icon" style="width: 150px; background-color: #@Item.HeadingHtmlColour;"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/@Item.IconImagePath" alt="@Item.Title" /></td>
    					<td class="spacer" style="width: 20px; padding: 0px; margin: 0px"></td>
	    				<td class="header-text" style="width: 600px; background-color: #@Item.HeadingHtmlColour; padding: 10px 30px 10px 30px;">
                        <span class="header-title" style="font-size: 55px; color: White; border-width: 30px; font-weight: bolder;">@Item.Title</span><br />
                        <span class="header-sub-title" style="font-size: 25px; color: White;">@Item.SubTitle</span>
                        </td>
			    	</tr>
                </table>
            }
            <table border="0" cellspacing="0" cellpadding="0" style="width: 800px; border: 0px; margin: 0px; padding: 0px;">
            @if (!string.IsNullOrEmpty(Item.ImagePath)) {
                <tr class="item-content">
					<td style="color: #406A80; padding: 10px 30px 10px 30px; font-family: Calibri, sans serif; font-size: 12pt;">@Html.Raw(@Item.Text)</td>
					<td><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/@Item.ImagePath" alt="@Item.Title" /></td>
				</tr>
            } else {
                <tr class="item-content">
					<td style="color: #406A80; padding: 10px 30px 10px 30px; font-family: Calibri, sans serif; font-size: 12pt;">@Html.Raw(@Item.Text)</td>
				</tr>
            }
            </table>
        }

        <table border="0" cellspacing="0" cellpadding="0" style="width: 800px; border: 0px; margin: 0px; padding: 0px;">
			<tr class="footer">
				<td><a href="@HRE.Common.Common.GetDomainBase()" target="_other"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/News_Web.png" alt="Online" title="Web"/></a></td>
				<td><a href="mailto:info@hetrondjeeilanden.nl" target="_other"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/News_Email.png" alt="E-mail" title="E-mail"/></td>
				<td><a href="http://www.twitter.com/tRondjeEilanden" target="_other"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/News_Twitter.png" alt="Twitter" title="Facebook"/></td>
				<td><a href="http://www.facebook.com/HetRondjeEilanden" target="_other"><img src="http://www.hetrondjeeilanden.nl/Content/img/Nieuwsbrief/News_Facebook.png" alt="Facebook" title="Facebook"></td>
			</tr>
            @if(Model.IsEmail) {
				<tr class="unsubscribe-link" style="font-family: Calibri, sans serif; color: #406A80; text-align: center; font-size: small;"><td colspan="4"><p><a href="@(HRE.Common.Common.GetDomainBase())/NewsLetter/Unsubscribe/@Model.UnsubscribeLink" target="_blank">Klik hier om je af te melden voor de nieuwsbrief</a></p></td></tr>
                }
		</table>
	</body>
</html>